<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            週次報告
        </h1>
    </section>
    <section class="content dashboard statistic-system">
        <!-- Info boxes -->
        <div id="hasSystemError" style="display: none" class="callout callout-danger">
            <p>エラーが発生しました。 管理者に連絡してください。</p>
        </div>
        <div class="row">
            <select id="accountSelector" class="statistic-system-title">
                <option value="">全ての受信アカウント</option>
            </select>
            <div class="stats-wrapper">
                <b>メール受信件数</b>
                <table id="receiveMailNumber" class="statistic-system-table">
                    <tr>
                        <th></th>
                        <th scope="col">本日</th>
                        <th scope="col">前日</th>
                        <th scope="col">2日前</th>
                        <th scope="col">3日前</th>
                        <th scope="col">4日前</th>
                        <th scope="col">5日前</th>
                        <th scope="col">6日前</th>
                        <th scope="col">7日前</th>
                    </tr>
                    <tr>
                        <th scope="row">
                        </th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <div class="dashboard-icon-wrapper statistic-system-icon-wrapper">
                    <span class="dashboard-box-icon"><i class="fa fa-envelope-o"></i></span>
                </div>
            </div>
        </div>
        <div class="row statistic-system-title-select" style="margin-top: 15px">
            <div class="col-sm-3 col-xs-3" style="padding-left: 0px">
                <select id="userSelector" style="width: 100%;">
                    <option value="">全てのユーザー</option>
                </select>
            </div>
            <div class="col-sm-3 col-xs-3"  style="padding-top: 8px">
                <label>本日のメール送信件数上位３名 &nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <div class="col-sm-6 col-xs-6 statistic-system-title-top-user" id="topUserSentMail">
            </div>
        </div>
        <div class="row" style="margin-top: 20px; ">
            <b class="statistic-system-title">メールマッチング</b>
            <div class="stats-wrapper">
                <b>ボタン押下件数</b>
                <table id="clickCount" class="statistic-system-table">
                    <tr>
                        <th></th>
                        <th scope="col">本日</th>
                        <th scope="col">前日</th>
                        <th scope="col">2日前</th>
                        <th scope="col">3日前</th>
                        <th scope="col">4日前</th>
                        <th scope="col">5日前</th>
                        <th scope="col">6日前</th>
                        <th scope="col">7日前</th>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>元のみ抽出</span>
                        </th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>先のみ抽出</span>
                        </th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>マッチング</span>
                        </th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <div class="dashboard-icon-wrapper statistic-system-icon-wrapper">
                    <span class="dashboard-box-icon"><i class="fa fa-hand-pointer-o"></i></span>
                </div>
            </div>
            <div class="stats-wrapper">
                <b>メール送信件数</b>
                <table id="sendPerClick" class="statistic-system-table">
                    <tr>
                        <th></th>
                        <th scope="col">本日</th>
                        <th scope="col">前日</th>
                        <th scope="col">2日前</th>
                        <th scope="col">3日前</th>
                        <th scope="col">4日前</th>
                        <th scope="col">5日前</th>
                        <th scope="col">6日前</th>
                        <th scope="col">7日前</th>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>マッチング後、「元へ」</span>
                        </th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>マッチング後、「先へ」</span>
                        </th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>元抽出後、「返信」</span>
                        </th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>先抽出後、「返信」</span>
                        </th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <div class="dashboard-icon-wrapper statistic-system-icon-wrapper">
                    <span class="dashboard-box-icon"><i class="fa fa-send-o"></i></span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <b class="statistic-system-title">DB⇔メールマッチング</b>
            <div class="stats-wrapper">
                <b>ボタン押下件数</b>
                <table id="clickEmailMatchingEngineerCount" class="statistic-system-table">
                    <tr>
                        <th></th>
                        <th scope="col">本日</th>
                        <th scope="col">前日</th>
                        <th scope="col">2日前</th>
                        <th scope="col">3日前</th>
                        <th scope="col">4日前</th>
                        <th scope="col">5日前</th>
                        <th scope="col">6日前</th>
                        <th scope="col">7日前</th>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>マッチング</span>
                        </th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <div class="dashboard-icon-wrapper statistic-system-icon-wrapper">
                    <span class="dashboard-box-icon"><i class="fa fa-hand-pointer-o"></i></span>
                </div>
            </div>
            <div class="stats-wrapper">
                <b>メール送信件数</b>
                <table id="sendMailEmailMatchingEngineerClick" class="statistic-system-table">
                    <tr>
                        <th></th>
                        <th scope="col">本日</th>
                        <th scope="col">前日</th>
                        <th scope="col">2日前</th>
                        <th scope="col">3日前</th>
                        <th scope="col">4日前</th>
                        <th scope="col">5日前</th>
                        <th scope="col">6日前</th>
                        <th scope="col">7日前</th>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>マッチング後、「返信」</span>
                        </th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <div class="dashboard-icon-wrapper statistic-system-icon-wrapper">
                    <span class="dashboard-box-icon"><i class="fa fa-send-o"></i></span>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row" style="margin-top: 20px;">
            <b class="statistic-system-title">受信トレイのメール</b>
            <div class="stats-wrapper">
                <b>受信トレイからのメールを返信</b>
                <table id="replyEmailsInboxCount" class="statistic-system-table">
                    <tr>
                        <th></th>
                        <th scope="col">本日</th>
                        <th scope="col">前日</th>
                        <th scope="col">2日前</th>
                        <th scope="col">3日前</th>
                        <th scope="col">4日前</th>
                        <th scope="col">5日前</th>
                        <th scope="col">6日前</th>
                        <th scope="col">7日前</th>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>受信トレイ経由でメールを送信した後</span>
                        </th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <div class="dashboard-icon-wrapper statistic-system-icon-wrapper">
                    <span class="dashboard-box-icon"><i class="fa fa-send-o"></i></span>
                </div>
            </div>
<!--            <div class="stats-wrapper">-->
<!--                <b>受信トレイからの返信メールをクリック</b>-->
<!--                <table id="clickReplyEmailsInboxCount" class="statistic-system-table">-->
<!--                    <tr>-->
<!--                        <th></th>-->
<!--                        <th scope="col">本日</th>-->
<!--                        <th scope="col">前日</th>-->
<!--                        <th scope="col">2日前</th>-->
<!--                        <th scope="col">3日前</th>-->
<!--                        <th scope="col">4日前</th>-->
<!--                        <th scope="col">5日前</th>-->
<!--                        <th scope="col">6日前</th>-->
<!--                        <th scope="col">7日前</th>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th scope="row">-->
<!--                            <span>「選択したメールへ返信」をクリックした後</span>-->
<!--                        </th>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--                <div class="dashboard-icon-wrapper statistic-system-icon-wrapper">-->
<!--                    <span class="dashboard-box-icon"><i class="fa fa-hand-pointer-o"></i></span>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="row" style="margin-top: 20px;">
            <b class="statistic-system-title">スケジューラメール</b>
<!--            <div class="stats-wrapper">-->
<!--                <b>スケジューラ送信メールを作成</b>-->
<!--                <table id="createScheduler" class="statistic-system-table">-->
<!--                    <tr>-->
<!--                        <th></th>-->
<!--                        <th scope="col">本日</th>-->
<!--                        <th scope="col">前日</th>-->
<!--                        <th scope="col">2日前</th>-->
<!--                        <th scope="col">3日前</th>-->
<!--                        <th scope="col">4日前</th>-->
<!--                        <th scope="col">5日前</th>-->
<!--                        <th scope="col">6日前</th>-->
<!--                        <th scope="col">7日前</th>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th scope="row">-->
<!--                            <span>スケジューラ送信メールを作成</span>-->
<!--                        </th>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                        <td>&nbsp;</td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--                <div class="dashboard-icon-wrapper statistic-system-icon-wrapper">-->
<!--                    <span class="dashboard-box-icon"><i class="fa fa-hand-pointer-o"></i></span>-->
<!--                </div>-->
<!--            </div>-->
            <div class="stats-wrapper">
                <b>送信済みのスケジューラメール</b>
                <table id="sendMailScheduler" class="statistic-system-table">
                    <tr>
                        <th></th>
                        <th scope="col">本日</th>
                        <th scope="col">前日</th>
                        <th scope="col">2日前</th>
                        <th scope="col">3日前</th>
                        <th scope="col">4日前</th>
                        <th scope="col">5日前</th>
                        <th scope="col">6日前</th>
                        <th scope="col">7日前</th>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>スケジューラメール送信後</span>
                        </th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <div class="dashboard-icon-wrapper statistic-system-icon-wrapper">
                    <span class="dashboard-box-icon"><i class="fa fa-send-o"></i></span>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/utils.js"></script>
    <script src="/custom/js/api.js"></script>
    <script src="/custom/js/pages/statistic/statistic.js"></script>
</th:block>
</body>
</html>