<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>環境設定</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">環境設定</h3>
                    </div>
                    <div class="box-body">
                        <div th:if="${saved == true}">
                            <div class="callout callout-success">
                                <p>保存された設定</p>
                            </div>
                        </div>
                        <form id="enviromentSettingsForm" class="form-horizontal" th:action="@{/admin/enviromentSettings}"
                              th:object="${enviromentSettingForm}" method="POST" >
                            <div class="form-group">
                                <label for="storagePath" class="col-sm-3 col-xs-4 control-label text-left">添付ファイルの保存場所</label>

                                <div class="col-sm-7 col-xs-6">
                                    <input th:readonly="true" id="storagePath" th:field="*{map['__file_storage_path__']}" type="text" class="form-control" placeholder="File storage path"/>
                                </div>
                                <div class="col-sm-2 col-xs-2">
                                    <button name="openDirectoriesModal" type="button" class="btn btn-default btn-file">
                                        <i class="fa fa-folder"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-xs-4 control-label text-left">新着メール確認間隔</label>

                                <div class="col-md-2 col-sm-3 col-xs-3">
                                    <input th:field="*{map['__check_mail_time_interval__']}" type="number" min="1" style="text-align:right;" class="form-control" placeholder="Minute" required="required"/>
                                </div>
                                <label class="col-sm-6 col-xs-5 control-label text-left">分</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-5 control-label text-left">受信したメールはメールサーバーに残す</label>

                                <div class="col-sm-8 col-xs-7">
                                    <div class="checkbox">
                                        <label>
                                            <input
                                                    type="checkbox"
                                                    th:field="*{map['__keep_mail_on_mail_server__']}"
                                                    th:value="1"
                                                    th:checked="*{map['__keep_mail_on_mail_server__'] != '1' ? false : true}"
                                            />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputExperience" class="col-sm-4 col-xs-5 control-label text-left">受信した古いメールはPCから削除する</label>

                                <div class="col-sm-8 col-xs-7">
                                    <div class="checkbox">
                                        <label>
                                            <input
                                                    type="checkbox"
                                                    th:field="*{map['__delete_old_mail__']}"
                                                    th:value="1"
                                                    th:checked="*{map['__delete_old_mail__'] != '1' ? false : true}"
                                                    id="inputExperience"
                                            />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-xs-5">
                                    <div class="col-md-6 col-sm-8 col-xs-6" style="float: right;">
                                        <input th:field="*{map['__delete_after__']}" type="number" min="1" style="text-align:right;" class="form-control " placeholder="Day" required="required"/>
                                    </div>
                                </div>
                                <label class="col-sm-8 col-xs-7 control-label text-left">日以前のメールをPCから削除</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-xs-4 control-label text-left">e!Helper@メールの送信履歴の保存日数</label>

                                <div class="col-md-2 col-sm-3 col-xs-3">
                                    <input th:field="*{map['__keep_sent_mail_history_day_key__']}" type="number" min="0" style="text-align:right;" class="form-control" placeholder=""/>
                                </div>
                                <label style="font-weight: 400;" class="col-sm-6 col-xs-5 control-label text-left">
                                    <b>日</b>
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( 0は履歴を残さない。空白の場合は履歴を削除しない )</span>
                                </label>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 col-xs-6 control-label text-left">受信メールのドメインで取引先に登録されていないドメインは未登録リストに登録する</label>

                                <div class="col-sm-7 col-xs-6">
                                    <div class="checkbox">
                                        <label>
                                            <input
                                                    type="checkbox"
                                                    th:field="*{map['__add_new_domain_to_domain_unregister__']}"
                                                    th:value="1"
                                                    th:checked="*{map['__add_new_domain_to_domain_unregister__'] != '1' ? false : true}"
                                            />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 col-xs-6 control-label text-left">受信メールのメールで取引先担当者に登録されていないメールを未登録リストに登録する</label>
                                <div class="col-sm-7 col-xs-6">
                                    <div class="checkbox">
                                        <label>
                                            <input
                                                    type="checkbox"
                                                    th:field="*{map['__add_new_email_to_people_in_charge_partner_unregister__']}"
                                                    th:value="1"
                                                    th:checked="*{map['__add_new_email_to_people_in_charge_partner_unregister__'] != '1' ? false : true}"
                                            />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-3 col-xs-4 control-label text-left">PC起動時に常駐する</label>

                                <div class="col-sm-9 col-xs-8">
                                    <div class="checkbox">
                                        <label>
                                            <input
                                                    type="checkbox"
                                                    th:field="*{map['__start_up_with_pc__']}"
                                                    th:value="1"
                                                    th:checked="*{map['__start_up_with_pc__'] != '1' ? false : true}"
                                                    id="inputSkills"
                                            />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="debugMode" class="col-sm-3 col-xs-4 control-label text-left">デバッグモード</label>

                                <div class="col-sm-9 col-xs-8">
                                    <div class="checkbox">
                                        <label>
                                            <input
                                                    type="checkbox"
                                                    th:field="*{map['__debug_on__']}"
                                                    th:value="1"
                                                    th:checked="*{map['__debug_on__'] != '1' ? false : true}"
                                                    id="debugMode"
                                            />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-xs-4 control-label text-left">デバッグ受信メール</label>

                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <input th:field="*{map['__debug_receive_mail_address__']}" type="email" class="form-control" placeholder="Mail address" required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-xs-4 control-label text-left">管理者受信メール</label>

                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <input th:field="*{map['__adminstrator_mail_address__']}" type="email" class="form-control" placeholder="管理者受信メール"/>
                                </div>
                            </div>
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-2 col-xs-10">
                                    <div class="col-xs-offset-1 col-xs-5">
                                        <button type="submit" class="btn btn-primary">更新</button>
                                    </div>
                                    <div class="col-xs-5">
                                        <button name="backBtn" type="button" class="btn btn-danger">終了</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
        </div>
    </section>
    <div id="directoriesModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添付ファイルの保存場所設定</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="tree" style="padding: 10px; background-color: #f5f5f5; height: 300px; overflow-y: scroll;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">終了</button>
                    <button type="button" id="selectDirectory" class="btn btn-primary">更新</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="addSubDirectoryModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">サブフォルダを作成する</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="storagePath" class="col-sm-3 col-xs-4 control-label text-left">親パス</label>
                            <div class="col-sm-7 col-xs-6">
                                <input id="parentPath" th:readonly="true" type="text" class="form-control" placeholder="親パス"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-4 control-label text-left">フォルダ名</label>
                            <div class="col-sm-7 col-xs-6">
                                <input id="subFolderName" type="text" class="form-control" placeholder="フォルダ名"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">終了</button>
                    <button type="button" id="createSubFolder" class="btn btn-primary">作成</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/pages/enviromentSettings/form.js"></script>
</th:block>
</body>
</html>