<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>メール アカウント設定</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            メール アカウント設定
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-xs-12" style="padding-bottom: 10px">
                                    <a href="#" th:href="@{/admin/mailAccountSettings/add}"><div type="button" class="btn btn-default btn-xs">受信メールアカウント追加</div></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" style="padding-bottom: 10px">
                                    <a href="#" th:href="@{/admin/mailAccountSettings/addSend}"><div type="button" class="btn btn-default btn-xs">送信メールアカウント追加</div></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                                           aria-describedby="example2_info">
                                        <thead>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                aria-label="Mail address:">
                                                メールアドレス
                                            </th>
                                            <th style="text-align: center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                aria-label="Type: ">種類
                                            </th>
                                            <th style="text-align: center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                aria-label="Disabled: ">休止
                                            </th>
                                            <th style="text-align: center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                aria-label="Edit: ">編集
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd" th:each="item:${list}">
                                            <td th:text="${item.account}"></td>
                                            <td style="text-align: center">
                                                <span th:text="${item.type eq 1 ? '送信' : '受信'}"></span>
                                            </td>
                                            <td style="text-align: center">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" disabled="true" th:checked="${item.disabled}"/>
                                                    </label>
                                                </div>
                                            </td>
                                            <td style="text-align: center">
                                                <a th:if="${item.type eq 0}" th:href="@{/admin/mailAccountSettings/update(id=${item.id})}"><span class="glyphicon glyphicon-edit" title="编辑"></span></a>
                                                <a th:if="${item.type eq 1}" th:href="@{/admin/mailAccountSettings/updateSend(id=${item.id})}"><span class="glyphicon glyphicon-edit" title="编辑"></span></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer no-padding">
                        <div class="mailbox-controls dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="example2_info" role="status"
                                         aria-live="polite" th:text="'Showing ' + (${toEntry} eq 0 ? ${fromEntry} : ${fromEntry} + ' to ' + ${toEntry}) + ' of ' + ${page.totalElements} + ' ' + (${page.totalElements} le 1 ? 'entry' : 'entries')">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                        <ul class="pagination">
                                            <li th:class="${page.firstPage}?'disabled':''">
                                                <span th:if='${page.firstPage}'>← First</span>
                                                <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=1,search=${search})}'>←
                                                    First</a>
                                            </li>
                                            <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                                                <span th:if='${not page.hasPreviousPage}'>«</span>
                                                <a th:if='${page.hasPreviousPage}'
                                                   th:href='@{${page.url}(page=${page.number-1},search=${search})}'
                                                   title='Go to previous page'>«</a>
                                            </li>
                                            <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                                                <span th:if='${item.current}' th:text='${item.number}'>1</span>
                                                <a th:if='${not item.current}'
                                                   th:href='@{${page.url}(page=${item.number},search=${search})}'><span
                                                        th:text='${item.number}'>1</span></a>
                                            </li>
                                            <li th:class="${page.hasNextPage}? '' : 'disabled'">
                                                <span th:if='${not page.hasNextPage}'>»</span>
                                                <a th:if='${page.hasNextPage}'
                                                   th:href='@{${page.url}(page=${page.number+1},search=${search})}'
                                                   title='Go to next page'>»</a>
                                            </li>
                                            <li th:class="${page.lastPage}? 'disabled' : ''">
                                                <span th:if='${page.lastPage}'>Last →</span>
                                                <a th:if='${not page.lastPage}'
                                                   th:href='@{${page.url}(page=${page.totalPages},search=${search})}'>Last →</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
</div>
</body>
</html>