<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>ヘルプ</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">ヘルプ</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-xs-12">
                            <label>eHelperのバージョン:&nbsp;</label><span th:text="${serverVersion}"></span>
                        </div>
                        <div class="col-xs-12">
                            <label>eHelperのパス:&nbsp;</label><span th:text="${serverPath}"></span>
                        </div>
                        <div class="col-xs-12">
                            <label>使用のOS:&nbsp;</label><span th:text="${osName}"></span>
                        </div>
                        <div class="col-xs-12">
                            <label>使用のOSバージョン:&nbsp;</label><span th:text="${osVersion}"></span>
                        </div>
                        <div class="col-xs-12">
                            <label>データベースのバージョン:&nbsp;</label><span th:text="${sqlVersion}"></span>
                        </div>
                        <div class="col-xs-12">
                            <label>データベースのパス:&nbsp;</label><span th:text="${sqlBaseDir}"></span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
        </div>
    </section>
</div>
</body>
</html>