<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>管理者設定</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">管理者設定</h3>
                    </div>
                    <div class="box-body">
                        <div th:if="${saved == true}">
                            <div class="callout callout-success">
                                <p>Admin account info saved.</p>
                            </div>
                        </div>
                        <form th:action="@{/admin/administratorSetting}" th:object="${administratorSettingForm}" method="post">
                            <div class="form-group has-feedback">
                                <input th:class="${#fields.hasErrors('userName')} ? 'form-error form-control' : 'form-control'" type="text" th:field="*{userName}" name="username" placeholder="Username"/>
                                <span th:class="${#fields.hasErrors('userName')} ? 'form-error glyphicon glyphicon-user form-control-feedback' : 'glyphicon glyphicon-user form-control-feedback'"></span>
                                <span class="form-error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">..</span>
                            </div>
                            <div class="form-group has-feedback">
                                <input th:class="${#fields.hasErrors('currentPassword')} ? 'form-error form-control' : 'form-control'" type="password" th:field="*{currentPassword}" name="currentPassword" placeholder="Current password"/>
                                <span th:class="${#fields.hasErrors('currentPassword')} ? 'form-error glyphicon glyphicon-lock form-control-feedback' : 'glyphicon glyphicon-lock form-control-feedback'"></span>
                                <span class="form-error" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">..</span>
                            </div>
                            <div class="form-group has-feedback">
                                <input th:class="${#fields.hasErrors('newPassword')} ? 'form-error form-control' : 'form-control'" type="password" th:field="*{newPassword}" name="newPassword" placeholder="New password"/>
                                <span th:class="${#fields.hasErrors('newPassword')} ? 'form-error glyphicon glyphicon-lock form-control-feedback' : 'glyphicon glyphicon-lock form-control-feedback'"></span>
                                <span class="form-error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">..</span>
                            </div>
                            <div class="form-group has-feedback">
                                <input th:class="${#fields.hasErrors('confirmNewPassword')} ? 'form-error form-control' : 'form-control'" type="password" th:field="*{confirmNewPassword}" name="confirmNewPassword" placeholder="Confirm new password"/>
                                <span th:class="${#fields.hasErrors('confirmNewPassword')} ? 'form-error glyphicon glyphicon-lock form-control-feedback' : 'glyphicon glyphicon-lock form-control-feedback'"></span>
                                <span class="form-error" th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}">..</span>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-2">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">更新</button>
                                </div>
                                <div class="col-xs-4">
                                    <button name="backBtn" type="button" class="btn btn-default btn-block btn-flat">終了</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/pages/adminSettings/form.js"></script>
</th:block>
</body>
</html>