<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>ユーザー管理</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content user-management">
        <div class="row">
            <div class="col-md-10">
                <div class="box box-default">
                    <div class="box-body">
                        <h4>ユーザー管理</h4>
                        <div class="row" style="padding-top: 15px;">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="greeting-part table-container-section" style="height: 250px; position: relative">
                                    <div style="position: absolute; top: 0; left: 0; right: 0; height: 1px; background-color: black; z-index: 1;"></div>
                                    <div style="position: absolute; top: 0; bottom: 0; right: 0; width: 1px; background-color: black; z-index: 1;"></div>
                                    <div style="overflow-y: scroll; height: 100%" class="table-container-wrapper">
                                        <table id="usersTable" class="table table-bordered table-hover sticky-header-table">
                                            <thead class="sticky-header">
                                            <tr>
                                                <th th:colspan="3" class="dark" style="text-align: center">ユーザーID</th>
                                                <th th:colspan="3" class="dark" style="text-align: center">ユーザー名称</th>
                                                <th th:colspan="1" class="dark fit" style="text-align: center">拡大権限</th>
                                                <th th:colspan="2" class="dark" style="text-align: center">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <!--<div class="col-md-12">-->
                                <!--<div class="callout callout-success">-->
                                    <!--<p>ユーザーアカウント情報が保存されました</p>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="col-md-9 col-md-offset-1">
                                <form method="post" class="form-horizontal">
                                    <div class="form-group has-feedback">
                                        <label class="col-md-3 control-label text-left">ユーザーID</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text" name="userName"/>
                                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                            <span class="form-error" name="userName"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="control-label col-md-2 text-left">ユーザー名称</label>
                                        <label class="control-label col-md-1 text-right">姓</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text" name="lastName"/>
                                            <span class="glyphicon glyphicon-credit-card form-control-feedback"></span>
                                            <span class="form-error" name="lastName"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="control-label col-md-2 text-left" style="visibility: hidden">ユーザー名称</label>
                                        <label class="control-label col-md-1 text-right">名</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text" name="firstName"/>
                                            <span class="glyphicon glyphicon-credit-card form-control-feedback"></span>
                                            <span class="form-error" name="firstName"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-3 control-label text-left">パスワード</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="password" name="newPassword" placeholder="********"/>
                                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                            <span class="form-error" name="newPassword"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-3 control-label text-left"></label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="password" name="confirmNewPassword" placeholder="********"/>
                                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                            <span class="form-error" name="confirmNewPassword"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label text-left">拡大権限付与</label>
                                        <div class="col-md-9">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="expansion"/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
                                    <div class="col-md-3 col-md-offset-1">
                                        <div style="width: 90%;">
                                            <button name="userAdd" type="button" class="btn btn-success btn-block">新規登録</button>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div style="width: 90%;">
                                            <button disabled="true" name="userUpdate" type="button" class="btn btn-primary btn-block">更新</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div style="width: 70%; margin: auto;">
                                            <button name="userClear" type="button" class="btn btn-default btn-block">クリア</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/pages/admin/userManagement.js"></script>
</th:block>
</body>
</html>