<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>無視ドメインリスト</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content domain">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-body">
                    	 <div>
                    		<span style="margin-right: 20px;">無視ドメイン リスト</span>
						</div>
						 <div id="domainBox" class="domain-part table-container-section" style="height: 450px; position: relative; margin-top: 5px;">
                            <div style="position: absolute; top: 0; left: 0; right: 0; height: 1px; background-color: black; z-index: 1;"></div>
                            <div style="position: absolute; top: 0; bottom: 0; right: 0; width: 1px; background-color: black; z-index: 1;"></div>
                            <div style="overflow-y: scroll; height: 100%" class="table-container-wrapper">
                                <table id="domainTable" class="table table-bordered table-hover sticky-header-table stickyHeaderTable">
                                    <thead class="sticky-header">
                                    <tr>
                                        <th class="dark">無視ドメイン</th>
                                        <th th:colspan="1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div style="width: 90%;">
                                    <button id="saveDomains" name="saveDomains" type="button" class="btn btn-success btn-block">更新</button>
                                </div>
                            </div>
	                        <div class="col-md-3">
                                <div style="width: 90%; margin: auto;">
                                    <button id="revertDomains" name="revertDomains" type="button" class="btn btn-default btn-block">終了</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
        </div>
    </section>
     <div id="dataModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 40%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="dataModalTitle" class="modal-title">Domain</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <span class="form-error"></span>
                            <input id="dataModalName" class="dataModalName form-control" type="text" name="dataModalName" placeholder=""/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="dataModalCancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="button" id="dataModalOk" class="btn btn-primary">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/utils.js"></script>
    <script src="/custom/js/api.js"></script>
    <script src="/custom/js/pages/expansion/domainAvoidRegister.js"></script>
</th:block>
</body>
</html>