<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>技術者管理</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content engineer">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-body">
                        <h4>技術者管理</h4>
                        <div class="form-group row " >
                            <div class="pull-left filterEngineer" style="padding-top:10px;">
                                <label class="radio-inline">
                                    <input type="radio" name="engineerFilter" value="1" checked="checked"/>すべて表示
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="engineerFilter" value="2"/>稼働中のみ表示
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="engineerFilter" value="3"/>非稼働中のみ表示
                                </label>
                            </div>
                            <div class="pull-left filterEngineer">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="enableEngineerFilterTime" checked="checked"/>案件期間で絞り込み（
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="filterEngineerFilterTime"/>最終稼働月指定
                                </label>
                                <input id="lastMonthActive" type="text" style="width: 100px;" disabled="disabled"/>
                                <input id="lastMonthActiveAlt" style="display: none;" type="text"/>
                                <label class="checkbox-inline" style="margin-left: 20px;">
                                    <input type="checkbox" id="filterEngineerFilterNull"/>案件期間 未登録&nbsp;）
                                </label>                             
                            </div>
                            <button id="filterEngineerBtn" style="margin-left: 30px; height: 40px;" type="button" class="btn btn-default">実行</button>
                        </div>
                        <div id="engineerBox" class="engineer-part table-container-section form-inline" style="height: 200px; position: relative">
                            <div style="position: absolute; top: 0; left: 0; right: 0; height: 1px; background-color: black; z-index: 1;"></div>
                            <div style="position: absolute; top: 0; bottom: 0; right: 0; width: 1px; background-color: black; z-index: 1;"></div>
                            <div style="overflow-y: scroll; height: 100%" class="table-container-wrapper">
                                <table id="engineer" class="table table-bordered table-hover sticky-header-table stickyHeaderTable">
                                    <thead class="sticky-header">
                                    <tr>
                                        <th class="dark">技術者名</th>
                                        <th class="dark" style="text-align: center">所属会社</th>
                                        <th class="fit dark" style="text-align: center">稼働</th>
                                        <th class="fit dark" style="text-align: center">自動延長</th>
                                        <th class="fit dark" style="text-align: center">休止中</th>
                                        <th th:colspan="2"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div style="width: 100%">
                            <div id="dragbar2" style="margin-top: -10px; background-color:black; height: 3px; cursor: row-resize; width: 100%;"></div>
                            <div style="width: 100%; margin-top: 10px;">
                                <form id="engineerForm" class="form-horizontal" action="javascript:void(0);">
                                    <div class="form-group row">
                                        <label for="name" class="control-label col-md-2 text-left">技術者名</label>
                                        <div class="col-md-10">
                                            <input id="name" name="name" class="form-control" placeholder=""/>
                                            <span class="form-error">..</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="kanaName" class="control-label col-md-2 text-left">カナ氏名</label>
                                        <div class="col-md-10">
                                            <input id="kanaName" name="kanaName" class="form-control" placeholder=""/>
                                            <span class="form-error">..</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="initial" class="control-label col-md-2 text-left">イニシャル</label>
                                        <div class="col-md-3">
                                            <input id="initial" name="initial" class="form-control" placeholder=""/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="mailAddress" class="control-label col-md-2 text-left">メールアドレス</label>
                                        <div class="col-md-10">
                                            <input id="mailAddress" name="mailAddress" class="form-control" placeholder=""/>
                                            <span class="form-error">..</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="employmentStatus" class="control-label col-md-2 text-left">会社形態</label>
                                        <div class="col-md-10">
                                            <select id="employmentStatus" class="form-control" name="employmentStatus">
                                                <option th:disabled="true" th:selected="true" value="">選んでください</option>
                                                <option value="1">自社正社員</option>
                                                <option value="2">自社契約社員</option>
                                                <option value="3">自社個人事業主</option>
                                                <option value="4">自社嘱託その他</option>
                                                <option value="5">取引先正社員</option>
                                                <option value="6">取引先契約社員</option>
                                                <option value="7">取引先個人事業主</option>
                                                <option value="8">取引先雇用形態不明</option>
                                            </select>
                                            <span class="form-error">..</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="partnerId" class="control-label col-md-2 text-left">所属企業</label>
                                        <div class="col-md-10">
                                            <select id="partnerId" name="partnerId" class="form-control">
                                                <option th:disabled="true" th:selected="true" value="">選んでください</option>
                                            </select>
                                            <span class="form-error">..</span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label style="padding-top: 35px;" class="control-label col-md-2 text-left">案件期間</label>
                                        <div class="col-md-10">
                                            <div class="engineer-form-field">
                                                <label for="projectPeriodStart" class="control-label" style="font-weight: normal">開始</label>
                                                <input id="projectPeriodStart" name="projectPeriodStart" class="form-control" placeholder=""/>
                                            </div>
                                            <div class="engineer-form-field" style="width: 70px; text-align: center">
                                                <span>~</span>
                                            </div>
                                            <div class="engineer-form-field">
                                                <label for="projectPeriodEnd" class="control-label" style="font-weight: normal">終了</label>
                                                <input id="projectPeriodEnd" name="projectPeriodEnd" class="form-control" placeholder=""/>
                                            </div>
                                            <div class="engineer-form-field" style="padding-left: 15px;">
                                                <button id="extend" th:disabled="true" type="button" class="btn btn-default">延長</button>
                                            </div>
                                            <br/>
                                            <div class="engineer-form-field" style="width: 100%; padding-top: 5px;">
                                                <span>&nbsp;延長&nbsp;&nbsp;&nbsp;</span>
                                                <input id="autoExtend" name="autoExtend" type="checkbox" value=""/>
                                                <span>&nbsp;&nbsp;&nbsp;(延長期間&nbsp;&nbsp;</span>
                                                <div class="engineer-form-field" style="width: 50px;">
                                                    <input th:readonly="true" id="extendMonth" name="extendMonth" type="text" value="" class="form-control"/>
                                                </div>
                                                <span>ケ月)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="matchingWord" class="control-label col-md-2 text-left">マッチングワード</label>
                                        <div class="col-md-10">
                                            <textarea id="matchingWord" name="matchingWord" class="form-control" placeholder="" type="text"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="notGoodWord" class="control-label col-md-2 text-left">NGワード</label>
                                        <div class="col-md-10">
                                            <textarea id="notGoodWord" name="notGoodWord" class="form-control" placeholder="" type="text"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-2 text-left">NG企業</label>
                                        <div class="col-md-10" >
                                            <div class="partner-part table-container-section" style="height: 200px; position: relative">
                                                <div style="overflow-y: scroll; height: 100%; border-style: ridge; border-color: black; border-width:1px;" class="table-container-wrapper" >
                                                    <table id="partnerTable" class="table table-bordered table-hover sticky-header-table stickyHeaderTable">
                                                        <thead class="sticky-header">
                                                        <tr>
                                                            <th class="dark">取引先名</th>
                                                            <th class="fit dark" style="text-align: center">
                                                            	識別ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </th>
                                                            <th th:colspan="2"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr role="row">
                                                            <td rowspan="1" colspan="1">
                                                                <select id="partnerNameComboBox" style="width: 100%; border: none; padding: 2px;">
                                                                </select>
                                                            </td>
                                                            <td rowspan="1" colspan="1">
                                                            	<select id="partnerIdComboBox" style="width: 100%; border: none; padding: 2px;">
                                                                </select>
                                                            </td>
                                                            <td class="fit" rowspan="1" colspan="1">
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="monetaryMoney" class="control-label col-md-2 text-left">単金</label>
                                        <div class="col-md-10">
                                            <div class="engineer-form-field">
                                                <input id="monetaryMoney" name="monetaryMoney" class="form-control" placeholder=""/>
                                            </div>
                                            <div class="engineer-form-field">
                                                <span>円&nbsp;以上</span>
                                            </div>
                                            <br/>
                                            <div style="width: 100%">
                                                <span class="form-error">..</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="stationNearest" class="control-label col-md-2 text-left">最寄り駅</label>
                                        <div class="col-md-10">
                                            <div class="engineer-form-field">
                                                <input id="stationLine" name="stationLine" class="form-control" placeholder=""/>
                                            </div>
                                            <div class="engineer-form-label">
                                                <span>線</span>
                                            </div>
                                            <div class="engineer-form-field">
                                                <input id="stationNearest" name="stationNearest" class="form-control" placeholder=""/>
                                            </div>
                                            <div class="engineer-form-label">
                                                <span>駅</span>
                                            </div>
                                            <br/>
                                            <div class="engineer-form-field" style="padding-top: 5px;">
                                                <div class="engineer-form-field" style="width: 86px;">
                                                    <span>通勤時間</span>
                                                </div>
                                                <div class="engineer-form-field" style="width: 60px;">
                                                    <input id="commutingTime" name="commutingTime" type="number" min="0" step="0.1" class="form-control" placeholder=""/>
                                                </div>
                                            </div>
                                            <div class="engineer-form-field">
                                                <span>時間以内希望</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="skillSheetEngineer" class="control-label col-md-2 text-left">スキルシートのフォルダー</label>
                                        <div class="col-md-10">
                                            <input id="skillSheetEngineer" name="skillSheet" class="form-control" placeholder=""/>
                                            <span class="form-error">..</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="introduction" class="control-label col-md-2 text-left">技術者紹介文</label>
                                        <div class="col-md-10">
                                            <textarea id="introduction"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label style="font-weight: 700;" class="checkbox-inline"><input id="dormant" type="checkbox" name="dormant" value=""/>休止中</label>
                                        </div>
                                    </div>
                                </form>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div style="width: 90%;">
                                                <button id="engineerAdd" name="engineerAdd" type="button" class="btn btn-success btn-block">登録</button>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div style="width: 90%;">
                                                <button id="engineerUpdate" disabled="true" name="engineerUpdate" type="button" class="btn btn-primary btn-block">更新</button>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                           	<label class="checkbox-inline"><input id="checkboxNext" type="checkbox" value=""/>更新後、次の行を編集;</label>
                                       	</div>
                                        <div class="col-md-3">
                                            <div style="width: 90%; margin: auto;">
                                                <button id="engineerClear" name="engineerClear" type="button" class="btn btn-default btn-block">クリア</button>
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/utils.js"></script>
    <script src="/custom/js/api.js"></script>
    <script src="/custom/js/pages/expansion/engineerManagement.js"></script>
</th:block>
</body>
</html>