<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>受信メール分析</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>受信メール分析</h1>
    </section>
    <section class="content mail-analysis">
        <div class="row">
            <div class="col-md-10 col-xs-12">
                <div class="box box-default">
                    <div class="box-body">
                        <form id="mailAnalysisForm" class="form-horizontal" method="POST">
                            <div class="form-group"></div>
                            <div class="col-xs-12">
                                <span>比較メール元抽出条件</span>
                                <div class="form-container">
                                    <div class="col-xs-12 full-height remove-nested-padding">
                                        <div class="table-container">
                                            <table id="motoMail" class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th class="col-xs-2">グループ</th>
                                                    <th class="col-xs-2">AND/OR</th>
                                                    <th class="col-xs-2">項目</th>
                                                    <th class="col-xs-2">条件</th>
                                                    <th class="col-xs-2">値</th>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input name="group"
                                                               type="checkbox"
                                                        />
                                                    </td>
                                                    <td class="select-container">
                                                        <select style="width: 100%;" aria-hidden="true">
                                                            <option value="" selected="selected" disabled="disabled"></option>
                                                            <option value="0" >AND</option>
                                                            <option value="1" >OR</option>
                                                        </select>
                                                    </td>
                                                    <td class="select-container">
                                                        <select style="width: 100%;" aria-hidden="true">
                                                            <option value="" selected="selected" disabled="disabled"></option>
                                                            <option value="0" >送信者</option>
                                                            <option value="1" >受信者</option>
                                                            <option value="2" >件名</option>
                                                            <option value="3" >本文</option>
                                                            <option value="4" >数値</option>
                                                            <option value="5" >数値(上代)</option>
                                                            <option value="6" >数値(下代)</option>
                                                            <option value="7" >添付ファイル有り</option>
                                                            <option value="8" >添付ファイル無し</option>
                                                            <option value="9" >受信日</option>
                                                        </select>
                                                    </td>
                                                    <td class="select-container">
                                                        <select style="width: 100%;" aria-hidden="true">
                                                            <option value="" selected="selected" disabled="disabled"></option>
                                                            <option value="0" >含む</option>
                                                            <option value="1" >含まない</option>
                                                            <option value="2" >等しい</option>
                                                            <option value="3" >異なる</option>
                                                            <option value="4" >以上</option>
                                                            <option value="5" >超</option>
                                                            <option value="6" >以下</option>
                                                            <option value="7" >未満</option>
                                                            <option value="8" >範囲内</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" placeholder=""/></td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-4 col-sm-offset-2 col-md-4 col-sm-5 col-xs-6">
                                <button type="button" class="btn btn-default btn-xs btn-block">条件に名前を付けて保存</button>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-6">
                                <button type="button" class="btn btn-default btn-xs btn-block">保存済条件を読み込み</button>
                            </div>
                            <div class="form-group"></div>
                            <div class="col-xs-12">
                                <span>比較メール先抽出条件</span>
                                <div class="form-container">
                                    <div class="col-xs-12 full-height remove-nested-padding">
                                        <div class="table-container">
                                            <table id="sakiMail" class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th class="col-xs-2">グループ</th>
                                                    <th class="col-xs-2">AND/OR</th>
                                                    <th class="col-xs-2">項目</th>
                                                    <th class="col-xs-2">条件</th>
                                                    <th class="col-xs-2">値</th>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input name="group"
                                                               type="checkbox"
                                                        />
                                                    </td>
                                                    <td class="select-container">
                                                        <select style="width: 100%;" aria-hidden="true">
                                                            <option value="" selected="selected" disabled="disabled"></option>
                                                            <option value="0" >AND</option>
                                                            <option value="1" >OR</option>
                                                        </select>
                                                    </td>
                                                    <td class="select-container">
                                                        <select style="width: 100%;" aria-hidden="true">
                                                            <option value="" selected="selected" disabled="disabled"></option>
                                                            <option value="0" >送信者</option>
                                                            <option value="1" >受信者</option>
                                                            <option value="2" >件名</option>
                                                            <option value="3" >本文</option>
                                                            <option value="4" >数値</option>
                                                            <option value="5" >数値(上代)</option>
                                                            <option value="6" >数値(下代)</option>
                                                            <option value="7" >添付ファイル有り</option>
                                                            <option value="8" >添付ファイル無し</option>
                                                            <option value="9" >受信日</option>
                                                        </select>
                                                    </td>
                                                    <td class="select-container">
                                                        <select style="width: 100%;" aria-hidden="true">
                                                            <option value="" selected="selected" disabled="disabled"></option>
                                                            <option value="0" >含む</option>
                                                            <option value="1" >含まない</option>
                                                            <option value="2" >等しい</option>
                                                            <option value="3" >異なる</option>
                                                            <option value="4" >以上</option>
                                                            <option value="5" >超</option>
                                                            <option value="6" >以下</option>
                                                            <option value="7" >未満</option>
                                                            <option value="8" >範囲内</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" placeholder=""/></td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-4 col-sm-offset-2 col-md-4 col-sm-5 col-xs-6">
                                <button type="button" class="btn btn-default btn-xs btn-block">条件に名前を付けて保存</button>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-6">
                                <button type="button" class="btn btn-default btn-xs btn-block">保存済条件を読み込み</button>
                            </div>
                            <div class="form-group"></div>
                            <div class="matching-container">
                                <div class="row">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" checked="checked"/>全角/半角を区別しない</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio"/>全角/半角を区別する</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="col-xs-12">
                                <span>マッチング条件</span>
                                <div class="form-container">
                                    <div class="col-xs-12 full-height remove-nested-padding">
                                        <div class="table-container">
                                            <table id="matching" class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th class="col-xs-2">グループ</th>
                                                    <th class="col-xs-2">AND/OR</th>
                                                    <th class="col-xs-2">項目</th>
                                                    <th class="col-xs-2">条件</th>
                                                    <th class="col-xs-2">値</th>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input name="group"
                                                               type="checkbox"
                                                        />
                                                    </td>
                                                    <td class="select-container">
                                                        <select style="width: 100%;" aria-hidden="true">
                                                            <option value="" selected="selected" disabled="disabled"></option>
                                                            <option value="0" >AND</option>
                                                            <option value="1" >OR</option>
                                                        </select>
                                                    </td>
                                                    <td class="select-container">
                                                        <select style="width: 100%;" aria-hidden="true">
                                                            <option value="" selected="selected" disabled="disabled"></option>
                                                            <option value="0" >送信者</option>
                                                            <option value="1" >受信者</option>
                                                            <option value="2" >件名</option>
                                                            <option value="3" >本文</option>
                                                            <option value="4" >数値</option>
                                                            <option value="5" >数値(上代)</option>
                                                            <option value="6" >数値(下代)</option>
                                                        </select>
                                                    </td>
                                                    <td class="select-container">
                                                        <select style="width: 100%;" aria-hidden="true">
                                                            <option value="" selected="selected" disabled="disabled"></option>
                                                            <option value="0" >含む</option>
                                                            <option value="1" >含まない</option>
                                                            <option value="2" >等しい</option>
                                                            <option value="3" >異なる</option>
                                                            <option value="4" >以上</option>
                                                            <option value="5" >超</option>
                                                            <option value="6" >以下</option>
                                                            <option value="7" >未満</option>
                                                            <option value="8" >範囲内</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" placeholder=""/></td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="col-xs-12">
                                <span>マッチングワード</span>
                                <textarea style="width: 100%" rows="4"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/pages/mailAnalysis/form.js"></script>
</th:block>
</body>
</html>