
@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px){

    /* start dash board page*/
    .bulletinboard #accountSelector{
        margin-left: 50px !important;
    }
    .bulletinboard .stats-wrapper{
        margin: 5px 50px 0px 50px;
    }
    .bulletinboard-icon-wrapper{
        left: -70px !important;
    }
    .bulletinboard .bulletin-preview{
        margin: 0px 50px 0px 50px;
    }
    .bulletinboard .bulletin{
        margin: 0px 50px 0px 50px;
    }
    #bulletinBoardEditor_ifr{
        overflow-y: scroll !important;
        -webkit-overflow-scrolling: touch;
    }
    .dashboard-bulletin-board-editor{
        overflow-y: scroll !important;
        -webkit-overflow-scrolling: touch;
    }
    .dashboard-bulletin-board-header{
        margin-bottom: 5px;
        padding-left: 55px !important;
    }
    .bulletin-board-tabs{
        padding: 0px 50px 5px 50px !important;
    }
    .dashboard-bulletin-board-header-title{
        font-size: 32px;
    }
    .dashboard-bulletin-board-header #changeShowType{
        margin-left: 5px;
    }
    .dashboard-bulletin-board-header .edit-history{
        margin-left: 5px !important;
        font-size: 12px;
    }
    #bulletinBoardTabs.nav > li > a{
        padding: 5px 10px;
    }
    /* end dash board page*/



    /* start statistic page*/
    .statistic-system .stats-wrapper{
        margin: 5px 50px 0px 70px;
    }
    .statistic-system-title{
        margin-left: 70px !important;
    }
    .statistic-system-title-select{
        margin-left: 55px !important;
    }
    .statistic-system-title-select>div{
        padding-top: 0px !important;
    }
    .statistic-system-title-top-user{
        padding-right: 50px; ;
    }
    .statistic-system-table td{
        min-width: 15px !important;
    }
    .statistic-system-table th{
        font-size: 10px; !important;
    }
    /* end statistic page*/




    /* start matching setting page*/
    .matching-setting-switch-conditions{
        text-align: center
    }

    .builder-condition-name{
        width: 50%;
    }

    .builder-condition-sent{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .matching-setting-builder-wrapper-header{
        height: 70px;
    }

    .msw-header-arrow-matching{
        display: none;
    }

    .matching-setting-submit-button{
        width: 100% !important;
        margin: 10px 0px 15px 0px !important;
    }

    .matching-setting-submit-button-div{
        padding: 0px !important;;
    }

    .matching-setting-notification-account{
        height: 22px;
        padding: 1px 21px 1px 1px !important;
        width: 200px;
    }

    .matching-setting-notification-sent{
        padding: 1px 12px 1px 12px !important;
        height: 22px;
    }

    .matching-setting-action-button{
        margin-bottom: 3px;
    }
    .matching-result-preview{
        margin-top: 60px !important;
    }
    .extract-table-thead > tr > th{
        overflow-x: hidden;
    }
    .matching-result-table-thead > tr > th{
        overflow-x: hidden;
    }
    .email-statistic-table > tr > th{
        overflow-x: hidden;
    }
    .send-email-history-table > tr > th{
        overflow-x: hidden;
    }
    #historyFromDate{
        width: 150px;
    }
    #historyToDate{
        width: 150px;
    }
    /* end matching setting page*/



    /* start setting fuzzyword page */
    .fuzzy-word-arrow-down{
        display: block;
    }
    .fuzzy-word-modal{
        width: 70% !important;
    }
    .fuzzy .fuzzy-form-container{
        height: 365px;
    }
    #divWords{
        height: 250px !important;
    }
    .fuzzy-word-exclusion-table-container{
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #e6e6e6;
    }
    /* end setting fuzzyword page*/


    .greeting-type-part{
        font-size: 12px;
    }
    .greeting-type-part input{
        transform: translateY(-4px);
    }
    .greeting-modal{
        width: 90% !important;
    }
    .greeting-modal-body{
        font-size: 12px;
    }

    /* start engineer matching */
    .engineer-matching-filter-engineer{
        margin-left: 5px;
        height: 40px;
    }

    .engineer-matching-last-month-active{
        width: 90px;
    }

    .engineer-matching-action-engineer-div{
        margin-bottom: 3px;
    }

    .engineer-matching-table > tr > th{
        overflow-x: hidden;
    }

    .engineer-matching-engineer-info{
        font-size: 11px;
    }

    .filterEngineer{
        margin-left: 15px;
    }

    .btn-notification-div button{
        padding: 3px 6px 3px 6px;
        font-size: 12px !important;
    }
    /* end engineer matching*/



    /* start minimine expansion */
    .bussiness-partner-alert {
        margin-bottom: 0px;
    }
    #countPeopleInChargeUnregister{
        margin-left: 30px !important;
    }
    .engineer-filter-engineer{
        padding-right: 0px;
    }
    .engineer-form-field-button{
        width: 70px;
    }
    .domain-avoid-modal{
        width: 60% !important;
    }
    .people-in-charge-avoid-modal{
        width: 60% !important;
    }
    /* end minimine expansion*/


    /* start setting email group page */
    .email-group .email-group-form-container{
        height: auto;
        border: 0px;
    }
    .email-group .email-group-table-container{
        height: 400px;
    }
    .email-group-arrow-down{
        height: 70px !important;
    }
    .email-group-modal{
        width: 70% !important;
    }
    .setting-scheduler-modal{
        width: 70% !important;
    }
    .show-scheduler-table > tr > th{
        overflow-x: hidden;
    }
    /* end setting email group  page*/


    /* start inbox */
    .inbox-table-container{
        font-size: 12px;
    }
    /* end inbox*/


    /* start minimine side bar */
    a.sidebar-toggle{
        display: none;
    }

    .content-wrapper,
    .main-footer {
        margin-left: 0;
    }

    .main-sidebar {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }

    .sidebar-mini .content-wrapper,
    .sidebar-mini .right-side,
    .sidebar-mini .main-footer {
        margin-left: 50px !important;
        z-index: 840;
    }

    .sidebar-mini .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 50px !important;
        z-index: 850;
    }

    .sidebar-mini .sidebar-menu > li {
        position: relative;
    }
    .sidebar-mini .sidebar-menu > li > a {
        margin-right: 0;
    }
    .sidebar-mini .sidebar-menu > li > a > span {
        border-top-right-radius: 4px;
    }
    .sidebar-mini .sidebar-menu > li:not(.treeview) > a > span {
        border-bottom-right-radius: 4px;
    }
    .sidebar-mini .sidebar-menu > li > .treeview-menu {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-right-radius: 4px;
    }

    .sidebar-mini .main-sidebar .user-panel > .info,
    .sidebar-mini .sidebar-form,
    .sidebar-mini .sidebar-menu > li > a > span,
    .sidebar-mini .sidebar-menu > li > .treeview-menu,
    .sidebar-mini .sidebar-menu > li > a > .pull-right,
    .sidebar-mini .sidebar-menu li.header {
        display: none !important;
        -webkit-transform: translateZ(0);
    }
    .sidebar-mini .main-header .logo {
        width: 50px;
    }
    .sidebar-mini .main-header .logo > .logo-mini {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
        font-size: 18px;
    }
    .sidebar-mini .main-header .logo > .logo-lg {
        display: none;
    }
    .sidebar-mini .main-header .navbar {
        margin-left: 50px;
    }

    .sidebar-mini:not(.sidebar-mini-expand-feature) .sidebar-menu > li:hover > a > span:not(.pull-right),
    .sidebar-mini:not(.sidebar-mini-expand-feature) .sidebar-menu > li:hover > .treeview-menu {
        display: block !important;
        position: absolute;
        width: 180px;
        left: 50px;
    }
    .sidebar-mini:not(.sidebar-mini-expand-feature) .sidebar-menu > li:hover > a > span {
        top: 0;
        margin-left: -3px;
        padding: 12px 5px 12px 20px;
        background-color: inherit;
    }
    .sidebar-mini:not(.sidebar-mini-expand-feature) .sidebar-menu > li:hover > a > .pull-right-container {
        position: relative !important;
        float: right;
        width: auto !important;
        left: 180px !important;
        top: -22px !important;
        z-index: 900;
    }
    .sidebar-mini:not(.sidebar-mini-expand-feature) .sidebar-menu > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
        display: none;
    }
    .sidebar-mini:not(.sidebar-mini-expand-feature) .sidebar-menu > li:hover > .treeview-menu {
        top: 44px;
        margin-left: 0;
    }
    .treeview-menu>li>a{
        font-size: 11px;
    }
    /* end minimine side bar */
}

