<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>メール アカウント設定</title>
</head>
<body>
<div layout:fragment="content" th:with="isUpdate=${param.id != null}">
    <section class="content-header">
        <h1 th:text="${isUpdate} ? 'メール アカウント編集': 'メール アカウント新規登録'"></h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="box box-default">
                    <div class="box-body">
                        <form id="fullAccountForm" th:action="@{${api}}" class="form-horizontal"
                              th:object="${fullAccountForm}" method="POST">
                            <div class="form-group"></div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">アカウント</label>

                                <div class="col-md-6 col-xs-5">
                                    <input th:field="*{account}" type="email" class="form-control" required="required" th:readonly="${isUpdate}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label text-left">このアカウントの受信を休止する</label>

                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <label>
                                            <input th:field="*{disabled}" type="checkbox"/>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h4 style="margin-left: 15px; margin-right: 15px;"><b>受信</b></h4>
                            </div>
                            <div th:if="${#fields.hasErrors('rUserName')}">
                                <div class="callout callout-danger">
                                    <p>接続に失敗しました。情報を確認してください。</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">受信メールサーバー</label>

                                <div class="col-md-2 col-xs-3">
                                    <!--<input type="text" class="form-control"/>-->
                                    <select id="receiveMailProtocol" th:field="*{rMailProtocol}" style="width: 100%; border-radius: 0;" class="form-control select2 select2-hidden-accessible" aria-hidden="true">
                                        <option value="0" selected="selected">IMAP</option>
                                        <option value="1" >POP3</option>
                                    </select>
                                </div>
                                <div class="col-md-7 col-xs-6">
                                    <input th:field="*{rMailServerAddress}" type="text" class="form-control" required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">ポート</label>

                                <div class="col-md-2 col-xs-3">
                                    <input id="receiveMailPort" th:field="*{rMailServerPort}" type="number" min="0" class="form-control" required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">ユーザーID</label>

                                <div class="col-md-6 col-xs-5">
                                    <input th:field="*{rUserName}" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">パスワード</label>

                                <div class="col-md-6 col-xs-5">
                                    <input name="rPassword" th:value="*{rPassword}" type="password" class="form-control" required="required" autocomplete="new-password"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">接続の保護</label>

                                <div class="col-xs-4">
                                    <select th:field="*{rEncryptionProtocol}" style="width: 100%; border-radius: 0;" class="form-control select2 select2-hidden-accessible" aria-hidden="true">
                                        <option value="0" selected="selected">なし</option>
                                        <option value="1">SSL/TLS</option>
                                        <option value="2">STARTTLS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">認証方式</label>

                                <div class="col-xs-4">
                                    <select th:field="*{rAuthenticationProtocol}" style="width: 100%; border-radius: 0;" class="form-control select2 select2-hidden-accessible" aria-hidden="true">
                                        <option value="0" selected="selected">通常のパスワード認証</option>
                                        <option value="1">暗号化されたパスワード認証</option>
                                        <option value="2">Kerberos/GSSAPI</option>
                                        <option value="3">NTLM</option>
                                        <option value="4">TLS証明書</option>
                                        <option value="5">OAuth2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">PROXYサーバー</label>

                                <div class="col-md-6 col-xs-5">
                                    <input th:field="*{rProxyServer}" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <h4 style="margin-left: 15px; margin-right: 15px;"><b>送信</b></h4>
                            </div>
                            <div th:if="${#fields.hasErrors('sUserName')}">
                                <div class="callout callout-danger">
                                    <p>接続に失敗しました。情報を確認してください。</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">送信メールサーバー</label>

                                <div class="col-md-2 col-xs-3">
                                    <!--<input type="text" class="form-control"/>-->
                                    <select id="mailProtocol" th:field="*{sMailProtocol}" style="width: 100%; border-radius: 0;" class="form-control select2 select2-hidden-accessible" aria-hidden="true">
                                        <option value="2" selected="selected">SMTP</option>
                                    </select>
                                </div>
                                <div class="col-md-7 col-xs-6">
                                    <input th:field="*{sMailServerAddress}" type="text" class="form-control" required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">ポート</label>

                                <div class="col-md-2 col-xs-3">
                                    <input id="mailPort" th:field="*{sMailServerPort}" type="number" min="0" class="form-control" required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">ユーザーID</label>

                                <div class="col-md-6 col-xs-5">
                                    <input th:field="*{sUserName}" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">パスワード</label>

                                <div class="col-md-6 col-xs-5">
                                    <input name="sPassword" th:value="*{sPassword}" type="password" class="form-control" required="required" autocomplete="new-password"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">接続の保護</label>

                                <div class="col-xs-4">
                                    <select th:field="*{sEncryptionProtocol}" style="width: 100%; border-radius: 0;" class="form-control select2 select2-hidden-accessible" aria-hidden="true">
                                        <option value="0" selected="selected">なし</option>
                                        <option value="1">SSL/TLS</option>
                                        <option value="2">STARTTLS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">認証方式</label>

                                <div class="col-xs-4">
                                    <select th:field="*{sAuthenticationProtocol}" style="width: 100%; border-radius: 0;" class="form-control select2 select2-hidden-accessible" aria-hidden="true">
                                        <option value="0" selected="selected">通常のパスワード認証</option>
                                        <option value="1">暗号化されたパスワード認証</option>
                                        <option value="2">Kerberos/GSSAPI</option>
                                        <option value="3">NTLM</option>
                                        <option value="4">TLS証明書</option>
                                        <option value="5">OAuth2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">CC</label>

                                <div class="col-md-6 col-xs-5">
                                    <input th:field="*{sCC}" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">PROXYサーバー</label>

                                <div class="col-md-6 col-xs-5">
                                    <input th:field="*{sProxyServer}" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label text-left">署名</label>

                                <div class="col-md-9 col-xs-8">
                                    <textarea id="signatureSetting" th:field="*{signature}"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-xs-offset-1 col-md-2 col-xs-3 text-center">
                                    <button th:text="${isUpdate} ? '更新': '新規登録'" type="submit" class="btn btn-success">新規登録</button>
                                </div>
                                <div class="col-md-2 col-xs-3 text-center">
                                    <button th:data="${isUpdate}" name="resetFormBtn" type="button" class="btn btn-default">項目クリア</button>
                                </div>
                                <div class="col-md-2 col-xs-3 text-center">
                                    <button th:data="${isUpdate}" name="backBtn" type="button" class="btn btn-danger">終了</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/pages/mailAccount/form.js"></script>
</th:block>
</body>
</html>