<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>あいまい単語登録</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>あいまい単語登録</h1>
    </section>
    <section class="content fuzzy">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div th:replace="fragments/fuzzy-description"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fuzzy-form-container">
                                    <div class="col-xs-6 full-height">
                                        <div class="fuzzy-table-container" style="background-color: white; ">
                                            <table id="wordList" style="margin: auto;" class="table table-bordered tablesorter">
                                                <thead>
                                                    <tr class="main-table-row-head">
                                                        <th class="col-xs-10">Fuzzy Word</th>
                                                        <th class="col-xs-2 text-center">
                                                            <span id="addGroupWord" class="glyphicon glyphicon-plus" style="color: #00e765; cursor: pointer;" title="Add Group Word"></span>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <div>
                                                                <input id="searchWordTxt" name="search" type="text" class="form-control input-sm" placeholder="入力してください"/>
                                                            </div>
                                                        </th>
                                                        <th class="text-center"><button id="btnSearchWord" type="submit">条件</button></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <div id="divWords" style="overflow-y: scroll; height: 385px;">
                                                <ul class="visible" style="padding-left: 30px; margin-top: 10px;">
                                                    <li class="treeview">
                                                        <span class="groupFuzzyWordName col-xs-8"><b>Group: DB⇔sasdasd</b> </span>
                                                        <span class="glyphicon glyphicon-trash fuzzyword-icon-trash col-xs-1.5"></span>
                                                        <span class="glyphicon glyphicon-play fuzzyword-icon-play pull-right"></span>
                                                        <ul class="visible groupFuzzyWord" style="padding-left: 30px; display: none;">
                                                            <li>
                                                                <span class="col-xs-6">asdasdasdasdasda</span>
                                                                <span class="glyphicon glyphicon-pencil fuzzyword-icon-trash col-xs-2"></span>
                                                                <span class="glyphicon glyphicon-trash fuzzyword-icon-trash col-xs-4"></span>
                                                            </li>
                                                            <li>
                                                                <span class="col-xs-6">asasdasda</span>
                                                                <span class="glyphicon glyphicon-pencil fuzzyword-icon-trash col-xs-2"></span>
                                                                <span class="glyphicon glyphicon-trash fuzzyword-icon-trash col-xs-4"></span>
                                                            </li>
                                                            <li>
                                                                <span class="glyphicon glyphicon-plus-sign fuzzyword-icon-plus" style="padding-left: 15px;">&nbsp;add word</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 full-height">
                                        <div class="fuzzy-table-container">
                                            <div style="overflow-y: scroll; height: 100%" class="table-container-wrapper">
                                                <table id="wordExclusionTable" class="table table-bordered">
                                                    <thead class="sticky-header">
                                                    <tr>
                                                        <th class="col-xs-5">Word</th>
                                                        <th class="col-xs-5">Other Word</th>
                                                        <th class="col-xs-2" style="text-align: center">
                                                            <span id="addExclusionWord" class="glyphicon glyphicon-plus" style="color: #00e765; cursor: pointer; display: none;" title="Add Exclusion Word"></span>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
        </div>
    </section>
    <div id="dataModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 40%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="dataModalTitle" class="modal-title">Title</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row" style="text-align: center">
                        <span id="hasErrorModal" class="form-error"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label style="transform: translateY(10px);">Word</label>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1" style="margin-left: 0px; padding-left: 0px;">
                            <input id="word" class="dataModalName form-control black-down-triangle black-down-triangle-center" type="text" name="dataModalName" list="keylist" placeholder=""/>
                            <datalist id="keylist">
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label style="transform: translateY(10px);">Word Exclusion</label>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1" style="margin-left: 0px; padding-left: 0px;">
                            <input id="wordExclusion" class="dataModalName form-control " type="text" placeholder=""/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="dataModalCancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="button" id="dataModalOk" class="btn btn-primary">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="modalAddGroup" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 40%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modalAddGroupTitle" class="modal-title">Title</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row" style="text-align: center">
                        <span id="hasErrorModalAddGroup" class="form-error"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label style="transform: translateY(10px);">Group</label>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1" style="margin-left: 0px; padding-left: 0px;">
                            <input id="groupName" class="dataModalName form-control " type="text" name="dataModalName" list="keylist" placeholder=""/>
                        </div>
                    </div>
                    <div id="listWordMember" class="form-group row">
                        <div class="col-sm-2">
                            <label style="transform: translateY(10px);">Word</label>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1" style="margin-left: 0px; padding-left: 0px;">
                            <input class="dataModalName form-control wordMember" type="text" placeholder=""/>
                        </div>
                        <div class="col-sm-2">
                            <span class="glyphicon glyphicon-plus add_word_member" ></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalAddGroupCancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="button" id="modalAddGroupOk" class="btn btn-primary">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/utils.js"></script>
    <script src="/custom/js/api.js"></script>
    <script src="/custom/js/pages/fuzzyWord/list.js"></script>
</th:block>
</body>
</html>