<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>比較メールのみ抽出</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content sendTab">
        <div id="sendDiv" class="col-md-12">
            <div id="setting-email" class="box box-primary">
                <h3 style="font-weight: bold; margin-left: 10px">Composing Email</h3>
                <div class="box-body padding" style="margin-top: 20px">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label for="rdMailSender" class="control-label col-md-1 text-left">送信者:</label>
                            <div class="col-md-5">
                                <select style="padding-left: 12px; min-height: 30px;" id="rdMailSender" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div>
                                <label for="rdEmailGroup" class="control-label col-md-1 text-left">受信者:</label>
                                <div class="col-md-5">
                                    <input id="rdEmailGroup" class="form-control"  style="min-height: 30px;" disabled="disabled"/>
                                </div>
                                <button id="selectEmailGroup" style="min-height: 34px">SelectGroup</button>
                            </div>
                        </div>
                        <div id="rdMailCC-container" class="form-group row">
                            <label for="rdMailReceiver" class="control-label col-md-1 text-left">受信者:</label>
                            <div class="col-md-11">
                                <input id="rdMailReceiver" class="tags form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div id="rdMailReceiver-container">
                                <label for="rdMailCC" class="control-label col-md-1 text-left">CC:</label>
                                <div class="col-md-11">
                                    <input id="rdMailCC" class="tags form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="rdMailSubject" class="control-label col-md-1 text-left">件名:</label>
                            <div class="col-md-11">
                                <input id="rdMailSubject" class="form-control" placeholder="件名:"/>
                            </div>
                        </div>
                    </div>
                    <textarea id="rdMailBodyTab"></textarea>
                    <div style="margin-top: 10px; padding: 10px;" class="dropzone" id="attachment-dropzone-tab"></div>
                </div>
                <div class="box-footer">
                    <div class="pull-right">
                        <button type="button" id="nextToSettingScheduler" class="btn btn-primary">Next</button>
                    </div>
                </div>
            </div> <!-- setting email -->


            <div id="setting-scheduler" class="box box-primary" style="display: none">
                <div class="box-body padding">
                    <h3 style="font-weight: bold">Scheduler Setting</h3>
                    <div class="form-group row" style="margin-top: 30px">
                        <div class="col-md-12">
                            <label style="display: block">
                                <input type="radio" name="send-email-scheduler" checked="checked" value="send-now"/>&nbsp;Send now
                            </label>
                            <hr/>

                            <label style="display: block">
                                <input type="radio" name="send-email-scheduler" value="send-by-hour"/>&nbsp;Send By Hour
                            </label>
                            <div class="form-group row">
                                <div class="col-md-1"></div>
                                <label for="sendByHourDay" class="control-label col-md-1 text-left">Day:</label>
                                <div class="col-md-3">
                                    <input id="sendByHourDay" class="form-control" placeholder="MM-DD-YYYY"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1"></div>
                                <label class="control-label col-md-1 text-left">Hour</label>
                                <div class='col-md-3'>
                                    <div class="form-group">
                                        <div class='input-group date' id='sendByHourHour'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>

                            <label style="display: block">
                                <input type="radio" name="send-email-scheduler" value="send-by-day"/>&nbsp;Send By Day
                            </label>
                            <div class="form-group row">
                                <div class="col-md-1"></div>
                                <label class="control-label col-md-1 text-left">Day:</label>
                                <label class="checkbox-inline send-by-day-checkbox" style="margin-left: 15px;">
                                    <input type="checkbox" name="send-by-day_day" value="monday"/>&nbsp;2
                                </label>
                                <label class="checkbox-inline send-by-day-checkbox">
                                    <input type="checkbox" name="send-by-day_day" value="tuesday"/>&nbsp;3
                                </label>
                                <label class="checkbox-inline send-by-day-checkbox">
                                    <input type="checkbox" name="send-by-day_day" value="wednesday"/>&nbsp;4
                                </label>
                                <label class="checkbox-inline send-by-day-checkbox">
                                    <input type="checkbox" name="send-by-day_day" value="thursday"/>&nbsp;5
                                </label>
                                <label class="checkbox-inline send-by-day-checkbox">
                                    <input type="checkbox" name="send-by-day_day" value="friday"/>&nbsp;6
                                </label>
                                <label class="checkbox-inline send-by-day-checkbox">
                                    <input type="checkbox" name="send-by-day_day" value="saturday"/>&nbsp;7
                                </label>
                                <label class="checkbox-inline send-by-day-checkbox">
                                    <input type="checkbox" name="send-by-day_day" value="sunday"/>&nbsp;CN
                                </label>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1"></div>
                                <label class="control-label col-md-1 text-left">Hour</label>
                                <div class='col-md-3'>
                                    <div class="form-group">
                                        <div class='input-group date' id='sendByDayHour'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>

                            <label style="display: block">
                                <input type="radio" name="send-email-scheduler" value="send-by-month"/>&nbsp;Send By Month
                            </label>
                            <div class="form-group row">
                                <div class="col-md-1"></div>
                                <div class='col-md-1'>
                                    <label class="radio-inline">
                                        <input type="radio" name="send-by-month-day" value="send-by-month"/>&nbsp;Day
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <input id="sendByMonthDay" class="form-control" placeholder="MM-DD-YYYY"/>
                                </div>
                                <div class='col-md-3'>
                                    <label class="radio-inline">
                                        <input type="radio" name="send-by-month-day" value="send-by-month"/>&nbsp;The first day
                                    </label>
                                </div>
                                <div class='col-md-3'>
                                    <label class="radio-inline">
                                        <input type="radio" name="send-by-month-day" value="send-by-month"/>&nbsp;The last day
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1"></div>
                                <label class="control-label col-md-1 text-left">Hour</label>
                                <div class='col-md-3'>
                                    <div class="form-group">
                                        <div class='input-group date' id='sendByMonthHour'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="pull-right">
                        <button type="button" id="backToSettingEmail" class="btn btn-default">Back</button>
                        <button type="button" id="sendSuggestMail" class="btn btn-primary">Send Email</button>
                    </div>
                </div>
            </div><!-- setting scheduler -->
        </div>
    </section>

    <div id="dataModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="dataModalTitle" class="modal-title">Select Email Group</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label tyle="display: block" >
                            <input type="checkbox" name="send-by-day_day" value="saturday"/>&nbsp;Select All
                        </label>
                        <div id="emailAddressReceiver" class="email-address-receiver">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="dataModalCancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="button" id="dataModalOk" class="btn btn-primary">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/utils.js"></script>
    <script src="/custom/js/api.js"></script>
    <script src="/custom/js/pages/emailGroupManage/schedulerSendEmail.js"></script>
</th:block>
</body>
</html>