<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>送信履歴</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>Show Scheduler Send Email</h1>
    </section>
    <section class="content matching-result">
        <div class="row matching-result-container" style="position: relative">
            <form id="matchingConditionSettingsForm" class="form-horizontal" action="javascript:void(0);">
                <div class="col-sm-12">
                    <br/>
                    <span style="font-size: 18px;">Show Scheduler Tablel&nbsp;&nbsp;&nbsp;</span>
                    <div class="main-left">
                        <div class="table-container table-container-wrapper" style="height: 500px; margin-bottom: 50px">
                            <table id="sendMailHistory" class="table table-bordered table-hover tablesorter sticky-header-table">
                                <thead class="sticky-header">
                                <tr>
                                    <th class="col-sm-4" >Email Title</th>
                                    <th class="col-sm-2" >From</th>
                                    <th class="col-sm-2" >Scheduler</th>
                                    <th class="col-sm-1" >Status</th>
                                    <th class="col-sm-1" >Action</th>
                                    <th class="col-sm-1" >Detail</th>
                                    <th class="col-sm-1" >Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/utils.js"></script>
    <script src="/custom/js/api.js"></script>
    <script src="/custom/js/pages/emailGroupManage/showSchedulerSendEmail.js"></script>
</th:block>
</body>
</html>