<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>挨拶文登録</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content condition-management">
        <div class="row">
            <div class="col-md-10">
                <div class="box box-default">
                    <div class="box-body">
                        <h4>抽出条件文管理</h4>
                        <h5>比較メール元抽出条件</h5>
                        <div class="condition-management-part table-container-section" style="height: 150px; position: relative">
                            <div style="position: absolute; top: 0; left: 0; right: 0; height: 1px; background-color: black; z-index: 1;"></div>
                            <div style="position: absolute; top: 0; bottom: 0; right: 0; width: 1px; background-color: black; z-index: 1;"></div>
                            <div style="overflow-y: scroll; height: 100%" class="table-container-wrapper">
                                <table id="sConditionTable" class="table table-bordered table-hover sticky-header-table conditionTable">
                                    <thead class="sticky-header">
                                    <tr>
                                        <th class="dark">保存条件名</th>
                                        <th th:colspan="2" class="dark" style="text-align: center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <input class="hide" id='importFileId' type='file'/>
                        <div style="width: 100%; text-align: right">
                            <button name="importFile" class="btn btn-default">インポート</button>
                        </div>
                        <h5>比較メール先抽出条件</h5>
                        <div class="condition-management-part table-container-section" style="height: 150px; position: relative">
                            <div style="position: absolute; top: 0; left: 0; right: 0; height: 1px; background-color: black; z-index: 1;"></div>
                            <div style="position: absolute; top: 0; bottom: 0; right: 0; width: 1px; background-color: black; z-index: 1;"></div>
                            <div style="overflow-y: scroll; height: 100%" class="table-container-wrapper">
                                <table id="dConditionTable" class="table table-bordered table-hover sticky-header-table conditionTable">
                                    <thead class="sticky-header">
                                    <tr>
                                        <th class="dark">保存条件名</th>
                                        <th th:colspan="2" class="dark" style="text-align: center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div style="width: 100%; text-align: right">
                            <button name="importFile" class="btn btn-default">インポート</button>
                        </div>
                        <h5>マッチング条件</h5>
                        <div class="condition-management-part table-container-section" style="height: 150px; position: relative">
                            <div style="position: absolute; top: 0; left: 0; right: 0; height: 1px; background-color: black; z-index: 1;"></div>
                            <div style="position: absolute; top: 0; bottom: 0; right: 0; width: 1px; background-color: black; z-index: 1;"></div>
                            <div style="overflow-y: scroll; height: 100%" class="table-container-wrapper">
                                <table id="mConditionTable" class="table table-bordered table-hover sticky-header-table conditionTable">
                                    <thead class="sticky-header">
                                    <tr>
                                        <th class="dark">保存条件名</th>
                                        <th th:colspan="2" class="dark" style="text-align: center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div style="width: 100%; text-align: right">
                            <button name="importFile" class="btn btn-default">インポート</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/pages/extractConditionManagement/index.js"></script>
</th:block>
</body>
</html>