<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>挨拶文登録</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>挨拶文登録</h1>
    </section>
    <section class="content greeting">
        <div class="row">
            <div class="col-md-10">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row" style="margin: 20px 0px 20px 0px">
                            <div class="col-md-12">
                                <div class="fuzzy-description">
                                    <p style="word-wrap: break-word">Khi gửi email có phần lời chào, lời mở đầu, phần đấy sẽ được cài đặt tại đây。
                                    </p>
                                    <p style="word-wrap: break-word">Khi bạn cần lời chào có tên đầy đủ của công ty người nhận(phân biệt theo domain người nhận) bạn sẽ gõ [%fcom]<br/>
                                        →Trong trường hợp công ty này dã được đăng ký trong business partner thì sẽ hiện ra tên đẩy đủ của công ty.<br/>
                                        →Trong trường hợp công ty này chưa đăng ký sẽ hiển thị "お取引先".
                                    </p>
                                    <span id="showGuideSetting" class="greeting-show-setting-guide">Xem hướng dấn tại đây</span>
                                </div>
                            </div>
                        </div>
                        <select id="sendMailAccountSelect" style="width: 70%; margin-bottom: 20px;">
                            <option value="" selected="selected" th:disabled="true">選んでください</option>
                            <option th:each="account : ${accounts}"
                                    th:value="${account.id}"
                                    th:utext="${account.account}"/>
                        </select>
                        <div class="greeting-part table-container-section" style="height: 150px; position: relative; margin-bottom: 50px;">
                            <div style="position: absolute; top: 0; left: 0; right: 0; height: 1px; background-color: black; z-index: 1;"></div>
                            <div style="position: absolute; top: 0; bottom: 0; right: 0; width: 1px; background-color: black; z-index: 1;"></div>
                            <div style="overflow-y: scroll; height: 100%" class="table-container-wrapper">
                                <table id="greetingTable" class="table table-bordered table-hover sticky-header-table">
                                    <thead class="sticky-header">
                                    <tr>
                                        <th class="dark">タイトル</th>
                                        <th class="fit dark" style="text-align: center">元</th>
                                        <th class="fit dark" style="text-align: center">先</th>
                                        <th class="fit dark" style="text-align: center">返</th>
                                        <th class="fit dark" style="text-align: center">E</th>
                                        <th class="fit dark" style="text-align: center">P</th>
                                        <th class="fit dark" style="text-align: center">Active</th>
                                        <th th:colspan="1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <h4>タイトル</h4>
                        <div class="greeting-part" style="height: 25px;">
                            <input id="greetingTittle" placeholder="挨拶文タイトル" type="text" style="width: 100%; height: 100%; border: none; padding-left: 10px;"/>
                        </div>
                        <h4>挨拶文</h4>
                        <div class="greeting-registration" style="padding-right: 2px">
                            <textarea id="greetingSetting"></textarea>
                        </div>
                        <div class="greeting-part row greeting-type-part" style="min-height: 50px; margin: 20px 0px 20px 0px;">
                            <div class="col-md-4 col-xs-4 greeting-radio">
                                <label><input type="radio" name="greetingType" value="1"/>マッチング元 送信時挨拶文</label>
                            </div>
                            <div class="col-md-4 col-xs-4 greeting-radio">
                                <label><input type="radio" name="greetingType" value="2"/>マッチング先 送信時挨拶文</label>
                            </div>
                            <div class="col-md-4 col-xs-4 greeting-radio">
                                <label><input type="radio" name="greetingType" value="3"/>返信時挨拶文</label>
                            </div>
                            <div class="col-md-4 col-xs-4 greeting-radio">
                                <label><input type="radio" name="greetingType" value="4"/>reply to Engineer</label>
                            </div>
                            <div class="col-md-4 col-xs-4 greeting-radio">
                                <label><input type="radio" name="greetingType" value="5"/>send to multyl email</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-xs-3 control-label text-left" for="activeGreeting">Active</label>
                            <div class="col-md-10 col-xs-9">
                                <label style="font-weight: 700;" class="checkbox-inline">
                                    <input id="activeGreeting" type="checkbox" name="active" value="" style="transform: translateY(-10px)"/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <div style="width: 90%;">
                                    <button name="greetingAdd" type="button" class="btn btn-success btn-block">新規登録</button>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div style="width: 90%;">
                                    <button name="greetingUpdate" type="button" class="btn btn-primary btn-block">更新</button>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div style="width: 90%;">
                                    <button name="greetingClear" type="button" class="btn btn-default btn-block">クリア</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="dataModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog greeting-modal" role="document" style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="dataModalTitle" class="modal-title" style="text-align: center">Greeting Setting Guide</h4>
                </div>
                <div th:replace="fragments/greeting-setting-guide"></div>
                <div class="modal-footer">
                    <button type="button" id="dataModalClose" class="btn btn-primary">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/utils.js"></script>
    <script src="/custom/js/api.js"></script>
    <script src="/custom/js/pages/greetingRegistration/index.js"></script>
</th:block>
</body>
</html>