<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>送信履歴</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>送信履歴</h1>
    </section>
    <section class="content matching-result">
        <div class="row matching-result-container" style="position: relative">
            <form id="matchingConditionSettingsForm" class="form-horizontal" action="javascript:void(0);">
                <div class="col-sm-12">
                    <h4>送信履歴</h4>
                    <div class="main-left">
                        <div class="table-container table-container-wrapper" style="height: 450px;">
                            <table id="sendMailHistory" class="table table-bordered table-hover tablesorter sticky-header-table">
                                <thead class="sticky-header">
                                <tr>
                                    <th class="fit">送信日時</th>
                                    <th class="fit">送信者</th>
                                    <th class="fit">宛先</th>
                                    <th>件名</th>
                                    <th class="fit">送信種別</th>
                                    <th class="fit">受信日時</th>
                                    <th class="fit">マッチメール受信日時</th>
                                    <th class="fit">マッチメール 送信アドレス</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4>プレビュー
                    </h4>
                    <div class="main-right">
                        <div id="mailSubject" class="mail-subject"></div>
                        <div class="mail-body-container">
                            <div id="mailBody" class="mail-body">

                            </div>
                        </div>
                        <div id="mailAttachment" class="mail-attachment"></div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/pages/sendMailHistory/index.js"></script>
</th:block>
</body>
</html>