<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>受信メール分析</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>受信メール分析</h1>
    </section>
    <section class="content mail-analysis">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-body">

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/pages/mailAnalysis/form.js"></script>
</th:block>
</body>
</html>