<div class="modal-body greeting-modal-body">
    <div style="border: #0c0c0c 1px solid">
    <table class="table table-bordered table-hover table-striped">
        <thead class="sticky-header" style="background: #ffeb3b">
        <tr>
            <th class="dark">置き換え関数</th>
            <th class="dark">項目名</th>
            <th class="dark">概要</th>
            <th class="dark">値取得先</th>
            <th class="dark">取得できない時</th>
        </tr>
        </thead>
        <tbody>
        <tr role="row">
            <td class="getting-setting-key"><span>[%fcom]</span></td>
            <td><span>正式会社名</span></td>
            <td><span>株式会社なども付いた会社名</span></td>
            <td><span>取引先情報</span></td>
            <td><span>"お取引先"</span></td>
        </tr>
        <tr role="row">
            <td class="getting-setting-key"><span>[%scom]</span></td>
            <td><span>会社名</span></td>
            <td><span>株式会社などを抜きにした会社名</span></td>
            <td><span>取引先情報</span></td>
            <td><span>"お取引先"</span></td>
        </tr>
        <tr role="row">
            <td class="getting-setting-key"><span>[%kcom]</span></td>
            <td><span>会社名カナ</span></td>
            <td><span>会社名カナ</span></td>
            <td><span>取引先情報</span></td>
            <td><span>NULL</span></td>
        </tr>
        <tr role="row">
            <td class="getting-setting-key"><span>[%domain]</span></td>
            <td><span>ドメイン</span></td>
            <td><span>取引先のドメイン</span> <br/> <span>複数ある場合は先頭</span></td>
            <td><span>取引先情報</span></td>
            <td><span>NULL</span></td>
        </tr>
        <tr role="row">
            <td class="getting-setting-key"><span>[%login]</span></td>
            <td><span>ログインユーザー姓名</span></td>
            <td><span>eHelperのログインユーザー姓名</span></td>
            <td><span></span></td>
            <td><span></span></td>
        </tr>
        <tr role="row">
            <td class="getting-setting-key"><span>[%logins]</span></td>
            <td><span>ログインユーザー姓</span></td>
            <td><span>eHelperのログインユーザー姓.</span></td>
            <td><span></span></td>
            <td><span></span></td>
        </tr>
        <tr role="row">
            <td class="getting-setting-key"><span>[%loginm]</span></td>
            <td><span>ログインユーザー名</span></td>
            <td><span>eHelperのログインユーザー名</span></td>
            <td><span></span></td>
            <td><span></span></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>