<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">コントロールパネル</li>
        <li class="active treeview">
            <a href="#">
                <i class="fa fa-cog"></i> <span>環境設定</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-envelope"></i> <span>受信アカウント設定</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-envelope-o"></i> <span>送信アカウント設定</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-filter"></i> <span>受信ルール設定</span>
            </a>
        </li>
    </ul>
</section>
<!-- /.sidebar -->