<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
        <li sec:authorize="hasAnyRole('ROLE_MEMBER', 'ROLE_MEM_EXPANSION')">
            <a href="#">
                <i class="fa fa-cloud-download"></i> <span>受信メール操作</span>
            </a>
            <ul class="treeview-menu visible">
                <li sec:authorize="hasAnyRole('ROLE_MEMBER', 'ROLE_MEM_EXPANSION')" class="treeview menu-open">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> <span>受信メール分析</span>
                        <span class="pull-right-container">
                    		<i class="fa fa-angle-left pull-right"></i>
                		</span>
                    </a>
                    <ul class="treeview-menu visible" style="padding-left: 0px;">
                    	<ul class="treeview-menu visible">
                        <li class="treeview menu-open">
                            <a href="#"><i class="fa fa-circle-o"></i>メールマッチング
                                <span class="pull-right-container">
                            		<i class="fa fa-angle-left pull-right"></i>
                        		</span>
                            </a>
                            <ul class="treeview-menu visible">
                                <li th:class="(${currentMenu == 'matchingSettings'})?'active':''"><a href="#"
                                                                                                     th:href="@{/user/matchingSettings}"><i
                                        class="fa fa-circle-o"></i>条件設定</a></li>
                                <li th:class="(${currentMenu == 'matchingResult'})?'active':''"><a href="#"
                                                                                                   th:href="@{/user/matchingResult}"><i
                                        class="fa fa-circle-o"></i>結果表示</a></li>
                            </ul>
                        </li>
                        </ul>
                        <ul class="treeview-menu visible">
                        <li class="treeview menu-open">
                            <a href="#"><i class="fa fa-circle-o"></i>DB⇔メールマッチング
                                <span class="pull-right-container">
                            		<i class="fa fa-angle-left pull-right"></i>
                        		</span>
                            </a>
                            <ul class="treeview-menu visible">
                                <li th:class="(${currentMenu == 'emailMatchingEngineerSetting'})?'active':''"><a href="#"
                                                                                                     th:href="@{/user/emailMatchingEngineerSetting}"><i
                                        class="fa fa-circle-o"></i>条件設定</a></li>
                                <li th:class="(${currentMenu == 'emailMatchingEngineerResult'})?'active':''"><a href="#"
                                                                                                   th:href="@{/user/emailMatchingEngineerResult}"><i
                                        class="fa fa-circle-o"></i>結果表示</a></li>
                            </ul>
                        </li>
                        </ul>
                    </ul>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_MEMBER', 'ROLE_MEM_EXPANSION')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'sendMailHistory'})?'active':''">
                    <a href="#" th:href="@{/user/sendMailHistory}">
                        <i class="fa fa-circle-o"></i> <span>送信履歴</span>
                    </a>
                </li>
            </ul>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="header">コントロールパネル</li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'enviromentSettings'})?'active':''">
            <a href="#" th:href="@{/admin/enviromentSettings}">
                <i class="fa fa-cog"></i> <span>環境設定</span>
            </a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'mailAccountSettings'})?'active':''">
            <a href="#" th:href="@{/admin/mailAccountSettings}">
                <i class="fa fa-envelope"></i> <span>メール アカウント設定</span>
            </a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'receiveRuleSettings'})?'active':''">
            <a href="#" th:href="@{/admin/receiveRuleSettings}">
                <i class="fa fa-filter"></i> <span>受信ルール設定</span>
            </a>
        </li>
        <li sec:authorize="hasAnyRole('ROLE_MEMBER', 'ROLE_MEM_EXPANSION')" class="treeview" th:class="(${currentMenu == 'fuzzyWord' || currentMenu == 'numberTreatment'})?'treeview menu-open':'treeview'">
            <a href="#">
                <i class="fa fa-cogs"></i> <span>システム共通設定</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" th:class="(${currentMenu == 'fuzzyWord' || currentMenu == 'numberTreatment'})?'treeview-menu visible':'treeview-menu'">
                <li sec:authorize="hasAnyRole('ROLE_MEMBER', 'ROLE_MEM_EXPANSION')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'fuzzyWord'})?'active':''">
                    <a href="#" th:href="@{/user/fuzzyWord}">
                        <i class="fa fa-external-link-square"></i> <span>あいまい単語登録</span>
                    </a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_MEMBER', 'ROLE_MEM_EXPANSION')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'numberTreatment'})?'active':''">
                    <a href="#" th:href="@{/user/numberTreatment}">
                        <i class="fa fa-sort-numeric-asc"></i> <span>数値扱い設定</span>
                    </a>
                </li>
            </ul>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="header">操作</li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'administratorSetting'})?'active':''">
            <a href="#" th:href="@{/admin/administratorSetting}">
                <i class="fa fa-user-secret"></i> <span>管理者設定</span>
            </a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'userManagement'})?'active':''">
            <a href="#" th:href="@{/admin/userManagement}">
                <i class="fa fa-users"></i> <span>ユーザー管理</span>
            </a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'mailbox'})?'active':''">
            <a href="#" th:href="@{/admin/mailbox}">
                <i class="fa fa-inbox"></i> <span>メールボックス</span>
            </a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'mailboxError'})?'active':''">
            <a href="#" th:href="@{/admin/mailboxError}">
                <i class="fa fa-bug"></i> <span>メールエラー</span>
            </a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'trashbox'})?'active':''">
            <a href="#" th:href="@{/admin/trashbox}">
                <i class="fa fa-trash-o"></i> <span>TrashBox</span>
            </a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="header">ヘルプ</li>
        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="#" th:href="@{/admin/help}">
                <i class="fa fa-info-circle"></i> <span>ヘルプ</span>
            </a>
        </li>
        <li sec:authorize="hasAnyRole('ROLE_MEMBER', 'ROLE_MEM_EXPANSION')" class="treeview" th:class="(${currentMenu == 'sendMailSettings' || currentMenu == 'greetingRegistration' || currentMenu == 'extractConditionManagement'})?'treeview menu-open':'treeview'">
            <a href="#">
                <i class="fa fa-male"></i> <span>PC個別設定</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" th:class="(${currentMenu == 'sendMailSettings' || currentMenu == 'greetingRegistration' || currentMenu == 'extractConditionManagement'})?'treeview-menu visible':'treeview-menu'">
                <li sec:authorize="hasAnyRole('ROLE_MEMBER', 'ROLE_MEM_EXPANSION')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'sendMailSettings'})?'active':''">
                    <a href="#" th:href="@{/user/sendMailSettings}">
                        <i class="fa fa-send"></i> <span>送信設定</span>
                    </a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_MEMBER', 'ROLE_MEM_EXPANSION')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'greetingRegistration'})?'active':''">
                    <a href="#" th:href="@{/user/greetingRegistration}">
                        <i class="fa fa-hand-spock-o"></i> <span>挨拶文登録</span>
                    </a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_MEMBER', 'ROLE_MEM_EXPANSION')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'extractConditionManagement'})?'active':''">
                    <a href="#" th:href="@{/user/extractConditionManagement}">
                        <i class="fa fa-clone"></i> <span>抽出条件文管理</span>
                    </a>
                </li>
            </ul>
        </li>
        <li sec:authorize="hasRole('ROLE_MEM_EXPANSION')" class="treeview" th:class="(${currentMenu == 'businessPartnerRegist' || currentMenu == 'engineerManagement' || currentMenu == 'partnerImportExport' || currentMenu == 'engineerImportExport'})?'treeview menu-open':'treeview'">
            <a href="#">
                <i class="fa fa-database"></i> <span>データベース登録</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" th:class="(${currentMenu == 'businessPartnerRegist' || currentMenu == 'domainAvoidRegister' || currentMenu == 'peopleInChargePartner' || currentMenu == 'emailAvoidRegisterPeopleInCharge' ||currentMenu == 'engineerManagement' || currentMenu == 'partnerImportExport' || currentMenu == 'peopleInChargePartnerImportExport' || currentMenu == 'engineerImportExport'})?'treeview-menu visible':'treeview-menu'">
                <li sec:authorize="hasRole('ROLE_MEM_EXPANSION')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'businessPartnerRegist'})?'active':''">
                    <a href="#" th:href="@{/expansion/businessPartnerRegist}">
                        <i class="fa fa-handshake-o"></i> <span>取引先登録</span>
                    </a>
                    <ul class="treeview-menu visible">
                        <li class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'domainAvoidRegister'})?'active':''">
                        	<a href="#" th:href="@{/expansion/domainAvoidRegister}"><span>無視ドメインリスト</span></a>
                        </li>
                        <li class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'peopleInChargePartner'})?'active':''">
                            <a href="#" th:href="@{/expansion/peopleInChargePartner}"><span>取引先 担当者管理</span></a>
                        </li>
                        <li class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'emailAvoidRegisterPeopleInCharge'})?'active':''">
                            <a href="#" th:href="@{/expansion/emailAvoidRegisterPeopleInCharge}"><span>担当者登録を怠るメール</span></a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ROLE_MEM_EXPANSION')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'engineerManagement'})?'active':''">
                    <a href="#" th:href="@{/expansion/engineerManagement}">
                        <i class="fa fa-code"></i> <span>技術者管理</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_MEM_EXPANSION')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'partnerImportExport'})?'active':''">
                    <a href="#" th:href="@{/expansion/partnerImportExport}">
                        <i class="fa fa-share-square-o"></i> <span>取引先ｲﾝﾎﾟｰﾄ・ｴｷｽﾎﾟｰﾄ</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_MEM_EXPANSION')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'peopleInChargePartnerImportExport'})?'active':''">
                    <a href="#" th:href="@{/expansion/peopleInChargePartnerImportExport}">
                        <i class="fa fa-share-square-o"></i> <span>担当者ｲﾝﾎﾟｰﾄ・ｴｷｽﾎﾟｰﾄ</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_MEM_EXPANSION')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'engineerImportExport'})?'active':''">
                    <a href="#" th:href="@{/expansion/engineerImportExport}">
                        <i class="fa fa-share-square-o"></i> <span>技術者ｲﾝﾎﾟｰﾄ・ｴｷｽﾎﾟｰﾄ</span>
                    </a>
                </li>
            </ul>
        </li>
        <li sec:authorize="hasAnyRole('ROLE_MEMBER', 'ROLE_MEM_EXPANSION')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'statistic'})?'active':''">
            <a href="#" th:href="@{/user/statistic}">
                <i class="fa "></i> <span>週次報告</span>
            </a>
        </li>
    </ul>
</section>
<!-- /.sidebar -->