<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <div class="user-panel">
        <div class="pull-left image">
            <img src="/custom/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p sec:authentication="name">User</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <ul class="sidebar-menu">
        <li class="header">コントロールパネル</li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'enviromentSettings'})?'active':''">
            <a href="#" th:href="@{/admin/enviromentSettings}">
                <i class="fa fa-cog"></i> <span>環境設定</span>
            </a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'mailAccountSettings'})?'active':''">
            <a href="#" th:href="@{/admin/mailAccountSettings}">
                <i class="fa fa-envelope"></i> <span>メール アカウント設定</span>
            </a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'receiveRuleSettings'})?'active':''">
            <a href="#" th:href="@{/admin/receiveRuleSettings}">
                <i class="fa fa-filter"></i> <span>受信ルール設定</span>
            </a>
        </li>
        <li class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'fuzzyWord'})?'active':''">
            <a href="#" th:href="@{/fuzzyWord}">
                <i class="fa fa-external-link-square"></i> <span>あいまい単語登録</span>
            </a>
        </li>
        <li class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'numberTreatment'})?'active':''">
            <a href="#" th:href="@{/numberTreatment}">
                <i class="fa fa-sort-numeric-asc"></i> <span>数値扱い設定</span>
            </a>
        </li>
        <li class="header">操作</li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'administratorSetting'})?'active':''">
            <a href="#">
                <i class="fa fa-envelope"></i> <span>管理者設定</span>
            </a>
        </li>
        <li class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'mailbox'})?'active':''">
            <a href="#" th:href="@{/mailbox}">
                <i class="fa fa-envelope"></i> <span>メールボックス</span>
            </a>
        </li>
        <li class="treeview" th:data="${currentMenu}" th:class="(${currentMenu == 'mailAnalysis'})?'active':''">
            <a href="#" th:href="@{/mailAnalysis}">
                <i class="fa fa-asterisk"></i> <span>受信メール分析</span>
            </a>
        </li>
        <li class="header">ヘルプ</li>
        <li>
            <a href="#">
                <i class="fa fa-info-circle"></i> <span>ヘルプ</span>
                <!--TODO: help page content is -->
                <!--TODO: · Server application version information-->
                <!--TODO: · Full path of server application-->
                <!--TODO: · OS and version of use-->
                <!--TODO: · Mysql version and full path-->
                <!--TODO: · World Link copyright notice-->
            </a>
        </li>
    </ul>
</section>
<!-- /.sidebar -->