<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            ダッシュボード
        </h1>
    </section>
    <section class="content bulletinboard">
        <!-- Info boxes -->
        <div id="hasSystemError" style="display: none" class="callout callout-danger">
            <p>エラーが発生しました。 管理者に連絡してください。</p>
        </div>
        <div class="row">
            <select id="accountSelector" style="margin-left: 100px;">
                <option value="">全ての受信アカウント</option>
            </select>
            <div class="stats-wrapper">
                <div class="row">
                    <div class="col-md-8">
                        <span><b>最新のメール受信日時</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span id="latestReceive">&nbsp;</span>
                        <span id="checkMailInterval" style="margin-left: 30px;"></span>
                    </div>
                    <div class="col-md-4" style="text-align: right">
                        <button id="forceFetchMailBtn" style="padding: 1px 15px;" type="button" class="btn btn-default btn-xs">最新のメールを受信</button>
                    </div>
                </div>
                <div class="bulletinboard-icon-wrapper">
                    <span class="bulletinboard-box-icon"><i class="fa fa-clock-o"></i></span>
                </div>
            </div>
        </div>
        <div class="builder-wrapper-header" style="margin-top: 20px; transform: translateY(10px); padding-left: 100px; color: grey;">
            <span style="font-size: 40px;">Bulletin board</span>
            <button id="changeShowType" type="button"  class="btn btn-default btn-xs change-show-type-bulletinboard">&nbsp;</button>
            <div class="edit-history" >
                <span id="historyEdit" style="color: #0c0c0c;"></span>
            </div>
        </div>
        <div class="row" id="blockEditor">
            <div class="bulletin">
                <div style="height: 930px;">
                    <textarea id="bulletinBoardEditor" style="height: 100%; width: 100%;"></textarea>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3 pull-right">
                        <div style="width: 90%;">
                            <button id="updateBulletinBoard" type="button" class="btn btn-primary btn-block">更 新</button>
                        </div>
                    </div>
                    <div class="col-md-3 pull-right">
                        <div style="width: 90%;">
                            <button id="clearBulletinBoard" type="button" class="btn btn-primary btn-block">クリアー</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="blockPreview">
            <div class="bulletin-preview">
                <span id="bulletinBoardPreview" style="height: 100%; width: 100%;"></span>
            </div>
        </div>

        <!-- /.row -->
    </section>
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/utils.js"></script>
    <script src="/custom/js/api.js"></script>
    <script src="/custom/js/pages/index.js"></script>
</th:block>
</body>
</html>