<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            ダッシュボード
        </h1>
    </section>
    <section class="content dashboard">
        <!-- Info boxes -->
        <div class="row">
            <div class="stats-wrapper">
                <span><b>最新のメール受信日時</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span id="latestReceive">&nbsp;</span>
                <div class="dashboard-icon-wrapper">
                    <span class="dashboard-box-icon"><i class="fa fa-clock-o"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="stats-wrapper">
                <b>ボタン押下件数</b>
                <table id="clickCount">
                    <tr>
                        <th></th>
                        <th scope="col">本日</th>
                        <th scope="col">前日</th>
                        <th scope="col">2日前</th>
                        <th scope="col">3日前</th>
                        <th scope="col">4日前</th>
                        <th scope="col">5日前</th>
                        <th scope="col">6日前</th>
                        <th scope="col">7日前</th>
                    </tr>
                    <tr>
                        <th scope="row">元のみ抽出</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">先のみ抽出</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">マッチング</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <div class="dashboard-icon-wrapper">
                    <span class="dashboard-box-icon"><i class="fa fa-hand-pointer-o"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="stats-wrapper">
                <b>メール受信件数</b>
                <table id="receiveMailNumber">
                    <tr>
                        <th></th>
                        <th scope="col">本日</th>
                        <th scope="col">前日</th>
                        <th scope="col">2日前</th>
                        <th scope="col">3日前</th>
                        <th scope="col">4日前</th>
                        <th scope="col">5日前</th>
                        <th scope="col">6日前</th>
                        <th scope="col">7日前</th>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <div style="padding-top: 10px;">
                    <span style="padding-left: 160px">※受信アカウントに登録されているメールアドレスからの受信は含まない</span>
                </div>
                <div class="dashboard-icon-wrapper">
                    <span class="dashboard-box-icon"><i class="fa fa-envelope-o"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="stats-wrapper">
                <b>メール送信件数<br/>1回のクリックでの送信件数</b>
                <table id="sendPerClick">
                    <tr>
                        <th></th>
                        <th scope="col">本日</th>
                        <th scope="col">前日</th>
                        <th scope="col">2日前</th>
                        <th scope="col">3日前</th>
                        <th scope="col">4日前</th>
                        <th scope="col">5日前</th>
                        <th scope="col">6日前</th>
                        <th scope="col">7日前</th>
                    </tr>
                    <tr>
                        <th scope="row">マッチング後、「元へ」</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="subrow">
                        <th scope="row"></th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">マッチング後、「先へ」</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="subrow">
                        <th scope="row"></th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">元抽出後、「返信」</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="subrow">
                        <th scope="row"></th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">先抽出後、「返信」</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="subrow subrowLast">
                        <th scope="row"></th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <div class="dashboard-icon-wrapper">
                    <span class="dashboard-box-icon"><i class="fa fa-send-o"></i></span>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/pages/index.js"></script>
</th:block>
</body>
</html>