<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            ダッシュボード
        </h1>
    </section>
    <section class="content bulletinboard">
        <!-- Info boxes -->
        <div id="hasSystemError" style="display: none" class="callout callout-danger">
            <p>エラーが発生しました。 管理者に連絡してください。</p>
        </div>
        <div class="row">
            <select id="accountSelector" style="margin-left: 100px;">
                <option value="">全ての受信アカウント</option>
            </select>
            <div class="stats-wrapper">
                <div class="row">
                    <div class="col-md-8">
                        <span><b>最新のメール受信日時</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span id="latestReceive">&nbsp;</span>
                        <span id="checkMailInterval" style="margin-left: 30px;"></span>
                    </div>
                    <div class="col-md-4" style="text-align: right">
                        <button id="forceFetchMailBtn" style="padding: 1px 15px;" type="button" class="btn btn-default btn-xs">最新のメールを受信</button>
                    </div>
                </div>
                <div class="bulletinboard-icon-wrapper">
                    <span class="bulletinboard-box-icon"><i class="fa fa-clock-o"></i></span>
                </div>
            </div>
        </div>
        <div class="builder-wrapper-header" style="margin-top: 20px; transform: translateY(10px); padding-left: 100px; color: grey;">
            <span style="font-size: 40px;">Bulletin board</span>
            <button id="changeShowType" type="button"  class="btn btn-default btn-xs change-show-type-bulletinboard">&nbsp;</button>
            <div class="edit-history" >
                <span id="historyCreate" style="color: #0c0c0c; display: block;"></span>
                <span id="historyEdit" style="color: #0c0c0c; display: block;"></span>
            </div>
        </div>
        <div class="row" style="padding-left: 100px; padding-right: 100px;">
            <ul id="bulletinBoardTabs" class="nav nav-tabs" role="tablist" >

            </ul>
        </div>
        <div class="row" id="blockEditor" style="transform: translateY(-5px);">
            <div class="bulletin">
                <div class="pull-right settingPermission">
                    <i class="fa fa-eye settingPermissionBulletinBoard"></i>
                    <span class="settingPermissionBulletinBoard">権限設定</span>
                </div>
                <div class="dashboard-bulletin-board-editor">
                    <textarea id="bulletinBoardEditor" style="height: 100%; width: 100%;"></textarea>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3 pull-right">
                        <div style="width: 90%;">
                            <button id="updateBulletinBoard" type="button" class="btn btn-primary btn-block">更 新</button>
                        </div>
                    </div>
                    <div class="col-md-3 pull-right">
                        <div style="width: 90%;">
                            <button id="clearBulletinBoard" type="button" class="btn btn-primary btn-block">クリアー</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="blockPreview" style="transform: translateY(-5px);">
            <div class="bulletin-preview">
                <span id="bulletinBoardPreview" style="height: 100%; width: 100%;"></span>
            </div>
        </div>
        <!-- /.row -->
    </section>
    <div id="dataModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="dataModalTitle" class="modal-title">権限設定</h4>
                </div>
                <div class="modal-body">
                    <div style="overflow-y: scroll; height: 450px;" class="permission-table table-container-wrapper">
                        <table id="permissionTable" class="table table-bordered table-hover sticky-header-table stickyHeaderTable">
                            <thead class="sticky-header">
                            <tr>
                                <th class="dark">ユーザー名</th>
                                <th class="fit dark" style="text-align: center">閲覧&nbsp;<input type="checkbox" id="selectViewAll"/></th>
                                <th class="fit dark" style="text-align: center">修正&nbsp;<input type="checkbox" id="selectEditAll"/></th>
                                <th class="fit dark" style="text-align: center">削除&nbsp;<input type="checkbox" id="selectDeleteAll"/></th>
                                <th class="fit dark" style="text-align: center;">権限変更&nbsp;
                                    <input type="checkbox" class="changePermissionCell" id="selectChangePermissionAll"/>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="dataModalCancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="button" id="dataModalOk" class="btn btn-primary">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/utils.js"></script>
    <script src="/custom/js/api.js"></script>
    <script src="/custom/js/pages/index.js"></script>
</th:block>
</body>
</html>