<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>メール集計</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header" style="position: relative;">
        <h1>メール集計</h1>
    </section>
    <section class="content mail-analysis">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-body">
                        <form id="matchingConditionSettingsForm" class="form-horizontal" method="POST">
                            <datalist id="itemlist">
                                <option data-value="送信者" value="送信者"></option>
                                <option data-value="受信者" value="受信者"></option>
                                <option data-value="件名" value="件名"></option>
                                <option data-value="本文" value="本文"></option>
                            </datalist>
                            <datalist id="itemlist2">
                                <option data-value="数値" th:value="${ruleNumber}"></option>
                                <option data-value="数値(上代)" th:value="${ruleNumberUpRate}"></option>
                                <option data-value="数値(下代)" th:value="${ruleNumberDownRate}"></option>
                            </datalist>
                            <div class="msw-header">
                                <div class="msw-header-label">
                                    <h4><b style="background: #f4f4f4; border-radius: 5px; padding: 5px;">マッチング条件</b></h4>
                                    <span class="col-xs-12 hidden" id="ruleNumber" th:utext="${ruleNumber}"></span>
                                    <span class="col-xs-12 hidden" id="ruleNumberUpRate" th:utext="${ruleNumberUpRate}"></span>
                                    <span class="col-xs-12 hidden" id="ruleNumberDownRate" th:utext="${ruleNumberDownRate}"></span>
                                </div>
                            </div>
                            <div class="matching-section-wrapper">
                                <div class="form-group"></div>
                                <div class="col-xs-12">
                                    <div class="builder-wrapper-header matching-setting-builder-wrapper-header">
                                        <span style="background: #f4f4f4; border-radius: 5px; padding: 5px;">比較メール先抽出条件</span>
                                        <button name="builder-ec" data="#statistic-condition-builder" type="button" class="btn btn-default btn-xs">&nbsp;</button>
                                        <div class="builder-condition-name">
                                            <label>条件名&nbsp;</label>
                                            <input id="statistic-condition-name" type="text" value=""/>
                                        </div>
                                        <div class="pull-right builder-condition-sent">
                                            <div id="condition-notification" class="condition-notification-div">
                                                <span id="condition-notification-new" class="condition-notification-new hidden">0</span>
                                                <span class="glyphicon glyphicon-bell condition-nsaveConditionBtnIdotification"></span>
                                            </div>
                                            <select id="condition-notification-account" class="matching-setting-notification-account">
                                                <option value="" style="" disabled="disabled" selected="selected">アカウント選択</option>
                                                <option th:each="account : ${accounts}" th:value="${account.id}" th:utext="${account.fullName}"></option>
                                                <option value="-100" >全てのユーザー</option>
                                            </select>
                                            <button id="condition-notification-sent" type="button" class="btn btn-primary matching-setting-notification-sent" style="margin-bottom: 5px;">送信</button>
                                        </div>
                                    </div>
                                    <div class="builder-wrapper">
                                        <div id="statistic-condition-builder"></div>
                                        <div id="statistic-condition-builder-collapse-view" class="builder-collapse-view">
                                            <span>非表示</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12" style="padding: 5px 0px 15px 0px;">
                                    <div class="col-md-4 matching-setting-action-button">
                                        <button id="extractConditionBtn" type="button" class="btn btn-default btn-xs btn-block">集計対象メールを一覧で確認</button>
                                    </div>
                                    <div class="col-md-4 matching-setting-action-button">
                                        <button id="saveConditionBtnId" type="button" class="btn btn-default btn-xs btn-block">条件に名前を付けて保存</button>
                                    </div>
                                    <div class="col-md-4 matching-setting-action-button">
                                        <button id="getConditionBtnId" type="button" class="btn btn-default btn-xs btn-block">保存済条件を読み込み</button>
                                    </div>
                                </div>
                                <div class="form-group"></div>
                                <div class="col-xs-12">
                                    <span style="background: #f4f4f4; border-radius: 5px; padding: 5px;">分析ワード</span>
                                    <textarea id="matchingWordsArea" style="width: 100%; margin-top: 5px;" rows="4"></textarea>
                                </div>
                                <div class="form-group"></div>
                            </div>
                            <div style="width: 100%; height: 50px;">
                                <div class="col-md-6 col-xs-12">
                                </div>
                                <div class="col-md-6 col-xs-12 matching-setting-submit-button-div">
                                    <button id="submitFormBtn" type="button" class="btn btn-default btn-xs btn-block matching-setting-submit-button">集計</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="dataModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 40%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="dataModalTitle" class="modal-title">保存された名前を入力してください</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                    <div class="warning col-sm-8 col-sm-offset-1" id="warning" style="color:red">条件名は必要です</div>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input id="dataModalName" class="dataModalName form-control black-down-triangle black-down-triangle-center" type="text" name="dataModalName" list="keylist" placeholder=""/>
                            <datalist id="keylist">
                            </datalist>
                        </div>
                        <div class="col-sm-2">
                            <button th:disabled="true" type="button" id="dataRemoveItem" class="btn btn-danger">削除</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="dataModalCancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="button" id="dataModalOk" class="btn btn-primary">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="notificationModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 60%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="notificationModalTitle" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div id="modal-body-content" style="overflow-y: scroll; height: 450px;">
                    </div>
                </div>
                <div class="modal-footer" style=" text-align: center">
                    <span class="notification-modal-show-more hidden">もっと見せる</span>
                    <button type="button" id="notificationModalClose" class="btn btn-primary pull-right">閉じる</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="previewConditionModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="previewConditionModalTitle" class="modal-title"></h4>
                </div>
                <div id="preview-builder" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="previewConditionModalClose" class="btn btn-primary">閉じる</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/utils.js"></script>
    <script src="/custom/js/utils/conditionConfig.js"></script>
    <script src="/custom/js/api.js"></script>
    <script src="/custom/js/pages/emailStatistic/settings.js"></script>
</th:block>
</body>
</html>