<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>メールマッチング条件設定</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header" style="position: relative;">
        <h1>メールマッチング条件設定</h1>
        <div class="duplicate-control-container">
            <label class="duplicate-control">
                <input id="enable-duplicate-handle" type="checkbox"/> 重複メールは最新のメールのみ抽出・マッチング
            </label>
            <label class="duplicate-control duplicate-control-option option-padding">重複の判定（&nbsp;</label>
            <label class="duplicate-control duplicate-control-option">
                <input id="duplicate-sender" type="checkbox"/> 送信者
            </label>
            <label class="duplicate-control duplicate-control-option option-padding">
                <input id="duplicate-subject" type="checkbox"/> 件名
            </label>
            <label class="duplicate-control duplicate-control-option">&nbsp;)</label>
        </div>
    </section>
    <section class="content mail-analysis">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-body">
                        <form id="matchingConditionSettingsForm" class="form-horizontal" method="POST">
                            <!--<datalist id="itemlist">-->
                                <!--<option th:each="option : ${matchingItemOptions}"-->
                                        <!--th:data-value="${option.value}"-->
                                        <!--th:value="${option.text}"/>-->
                            <!--</datalist>-->
                            <datalist id="itemlist">
                                <option data-value="送信者" value="送信者"></option>
                                <option data-value="受信者" value="受信者"></option>
                                <option data-value="件名" value="件名"></option>
                                <option data-value="本文" value="本文"></option>
                            </datalist>
                            <datalist id="itemlist2">
                                <option data-value="数値" value="数値"></option>
                                <option data-value="数値(上代)" value="数値(上代)"></option>
                                <option data-value="数値(下代)" value="数値(下代)"></option>
                            </datalist>
                            <div class="form-group"></div>
                            <div class="col-xs-12">
                                <span>比較メール元抽出条件</span>
                                <div id="source-builder"></div>
                            </div>
                            <div class="col-md-4">
                                <button id="extractSourceBtn" type="button" class="btn btn-default btn-xs btn-block">比較メール元のみ抽出を行う</button>
                            </div>
                            <div class="col-md-4">
                                <button id="saveSourceBtn" type="button" class="btn btn-default btn-xs btn-block">条件に名前を付けて保存</button>
                            </div>
                            <div class="col-md-4">
                                <button id="getSourceBtn" type="button" class="btn btn-default btn-xs btn-block">保存済条件を読み込み</button>
                            </div>
                            <div class="form-group"></div>
                            <div class="col-xs-12">
                                <span>比較メール先抽出条件</span>
                                <div id="destination-builder"></div>
                            </div>
                            <div class="col-md-4">
                                <button id="extractDestinationBtn" type="button" class="btn btn-default btn-xs btn-block">比較メール先のみ抽出を行う</button>
                            </div>
                            <div class="col-md-4">
                                <button id="saveDestinationBtn" type="button" class="btn btn-default btn-xs btn-block">条件に名前を付けて保存</button>
                            </div>
                            <div class="col-md-4">
                                <button id="getDestinationBtn" type="button" class="btn btn-default btn-xs btn-block">保存済条件を読み込み</button>
                            </div>
                            <div class="form-group"></div>
                            <div class="matching-container">
                                <div class="row">
                                    <div class="radio">
                                        <label><input type="radio" name="distinguish" value="false" checked="checked"/>全角/半角を区別しない</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="distinguish" value="true"/>全角/半角を区別する</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="col-xs-12">
                                <span>マッチング条件</span>
                                <div id="matching-builder"></div>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button id="saveMatchingBtn" type="button" class="btn btn-default btn-xs btn-block">条件に名前を付けて保存</button>
                            </div>
                            <div class="col-md-4">
                                <button id="getMatchingBtn" type="button" class="btn btn-default btn-xs btn-block">保存済条件を読み込み</button>
                            </div>
                            <div class="form-group"></div>
                            <div class="matching-container">
                                <div class="row">
                                    <div class="radio">
                                        <label><input type="radio" name="spaceEffective" value="false" checked="checked"/>Spaceを区別しない</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="spaceEffective" value="true"/>Spaceを区別する</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="col-xs-12">
                                <span>マッチングワード</span>
                                <textarea id="matchingWordsArea" style="width: 100%" rows="4"></textarea>
                            </div>
                            <div class="col-md-offset-8 col-sm-offset-7 col-xs-offset-6 col-md-4 col-sm-5 col-xs-6">
                                <button id="submitFormBtn" type="button" class="btn btn-default btn-xs btn-block">マッチング</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="dataModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 40%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="dataModalTitle" class="modal-title">保存された名前を入力してください</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-1">
                            <input id="dataModalName" class="dataModalName form-control black-down-triangle black-down-triangle-center" type="text" name="dataModalName" list="keylist" placeholder=""/>
                            <datalist id="keylist">
                            </datalist>
                        </div>
                        <div class="col-sm-2">
                            <button th:disabled="true" type="button" id="dataRemoveItem" class="btn btn-danger">削除</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="dataModalCancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="button" id="dataModalOk" class="btn btn-primary">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/pages/matching/settings.js"></script>
</th:block>
</body>
</html>