<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>メールマッチング条件設定</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header" style="position: relative;">
        <h1>メールマッチング条件設定</h1>
        <div style="position: absolute; z-index: 1; width: 210px; left: 400px; top: 11px; bottom: 0;">
            <button id="switchConditions" style="background-color: #ffffdd" type="button" class="btn btn-default btn-block">
                <span style="font-size: 19px" class="glyphicon glyphicon-refresh pull-left"></span>
                元と先の抽出条件の入替
            </button>
        </div>
    </section>
    <section class="content mail-analysis">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-body">
                        <form id="matchingConditionSettingsForm" class="form-horizontal" method="POST">
                            <!--<datalist id="itemlist">-->
                                <!--<option th:each="option : ${matchingItemOptions}"-->
                                        <!--th:data-value="${option.value}"-->
                                        <!--th:value="${option.text}"/>-->
                            <!--</datalist>-->
                            <datalist id="itemlist">
                                <option data-value="送信者" value="送信者"></option>
                                <option data-value="受信者" value="受信者"></option>
                                <option data-value="件名" value="件名"></option>
                                <option data-value="本文" value="本文"></option>
                            </datalist>
                            <datalist id="itemlist2">
                                <option data-value="数値" th:value="${ruleNumber}"></option>
                                <option data-value="数値(上代)" th:value="${ruleNumberUpRate}"></option>
                                <option data-value="数値(下代)" th:value="${ruleNumberDownRate}"></option>
                            </datalist>
                            <div class="msw-header">
                                <div class="msw-header-label">
                                    <h4><b>マッチング 元メール・先メール 抽出条件</b></h4>
                                    <span class="col-xs-12 hidden" id="ruleNumber" th:utext="${ruleNumber}"></span>
                                    <span class="col-xs-12 hidden" id="ruleNumberUpRate" th:utext="${ruleNumberUpRate}"></span>
                                    <span class="col-xs-12 hidden" id="ruleNumberDownRate" th:utext="${ruleNumberDownRate}"></span>
                                </div>
                            </div>
                            <div class="matching-section-wrapper">
                                <div class="form-group"></div>
                                <div class="col-xs-12">
                                    <div class="builder-wrapper-header" style="height: 35px;">
                                        <span>比較メール元抽出条件</span>
                                        <button name="builder-ec" data="#source-builder" type="button" class="btn btn-default btn-xs">&nbsp;</button>
                                        <div class="builder-condition-name">
                                            <label>条件名&nbsp;</label>
                                            <input id="source-condition-name" type="text" value=""/>
                                        </div>
                                        <div class="pull-right builder-condition-sent">
                                            <div id="source-notification" class="condition-notification-div">
                                                <span id="source-notification-new" class="condition-notification-new hidden">0</span>
                                                <span class="glyphicon glyphicon-bell condition-notification"></span>
                                            </div>
                                            <select id="source-notification-account" style="height: 34px; width: 200px;">
                                                <option value="" style="" disabled="disabled" selected="selected">アカウント選択</option>
                                                <option th:each="account : ${accounts}" th:value="${account.id}" th:utext="${account.fullName}"></option>
                                            </select>
                                            <button id="source-notification-sent" type="button" class="btn btn-primary" style="margin-bottom: 5px;">送信</button>
                                        </div>
                                    </div>
                                    <div class="builder-wrapper">
                                        <div id="source-builder"></div>
                                        <div id="source-builder-collapse-view" class="builder-collapse-view">
                                            <span>非表示</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button style="background-color: #ffe837;" id="extractSourceBtn" type="button" class="btn btn-default btn-xs btn-block">比較メール元のみ抽出を行う(F3)</button>
                                </div>
                                <div class="col-md-4">
                                    <button id="saveSourceBtn" type="button" class="btn btn-default btn-xs btn-block">条件に名前を付けて保存</button>
                                </div>
                                <div class="col-md-4">
                                    <button id="getSourceBtn" type="button" class="btn btn-default btn-xs btn-block">保存済条件を読み込み</button>
                                </div>
                                <div class="form-group"></div>
                                <div class="col-xs-12">
                                    <div class="builder-wrapper-header"  style="height: 35px;">
                                        <span>比較メール先抽出条件</span>
                                        <button name="builder-ec" data="#destination-builder" type="button" class="btn btn-default btn-xs">&nbsp;</button>
                                        <div class="builder-condition-name">
                                            <label>条件名&nbsp;</label>
                                            <input id="destination-condition-name" type="text" value=""/>
                                        </div>
                                        <div class="pull-right builder-condition-sent">
                                            <div id="destination-notification" class="condition-notification-div">
                                                <span id="destination-notification-new" class="condition-notification-new hidden">0</span>
                                                <span class="glyphicon glyphicon-bell condition-notification"></span>
                                            </div>
                                            <select id="destination-notification-account" style="height: 34px; width: 200px;">
                                                <option value="" style="" disabled="disabled" selected="selected">アカウント選択</option>
                                                <option th:each="account : ${accounts}" th:value="${account.id}" th:utext="${account.fullName}"></option>
                                            </select>
                                            <button id="destination-notification-sent" type="button" class="btn btn-primary" style="margin-bottom: 5px;">送信</button>
                                        </div>
                                    </div>
                                    <div class="builder-wrapper">
                                        <div id="destination-builder"></div>
                                        <div id="destination-builder-collapse-view" class="builder-collapse-view">
                                            <span>非表示</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button style="background-color: #ffe837;" id="extractDestinationBtn" type="button" class="btn btn-default btn-xs btn-block">比較メール先のみ抽出を行う(F4)</button>
                                </div>
                                <div class="col-md-4">
                                    <button id="saveDestinationBtn" type="button" class="btn btn-default btn-xs btn-block">条件に名前を付けて保存</button>
                                </div>
                                <div class="col-md-4">
                                    <button id="getDestinationBtn" type="button" class="btn btn-default btn-xs btn-block">保存済条件を読み込み</button>
                                </div>
                                <div class="form-group"></div>
                            </div>
                            <div class="msw-header">
                                <div class="msw-header-label">
                                    <h4><b>マッチング条件</b></h4>
                                </div>
                                <div class="msw-header-arrow-down"></div>
                            </div>
                            <div class="matching-section-wrapper">
                                <!--<div class="form-group"></div>-->
                                <!--<div class="matching-container">-->
                                    <!--<div class="row">-->
                                        <!--<div class="radio">-->
                                            <!--<label><input type="radio" id="distinguish1" name="distinguish" value="false"/>全角/半角を区別しない</label>-->
                                        <!--</div>-->
                                        <!--<div class="radio">-->
                                            <!--<label><input type="radio" id="distinguish2" name="distinguish" value="true"/>全角/半角を区別する</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group"></div>
                                <div class="col-xs-12">
                                    <div class="builder-wrapper-header" style="height: 35px;">
                                        <span>マッチング条件</span>
                                        <button name="builder-ec" data="#matching-builder" type="button" class="btn btn-default btn-xs">&nbsp;</button>
                                        <div class="builder-condition-name">
                                            <label>条件名&nbsp;</label>
                                            <input id="matching-condition-name" type="text" value=""/>
                                        </div>
                                        <div class="pull-right builder-condition-sent">
                                            <div id="matching-notification" class="condition-notification-div">
                                                <span id="matching-notification-new" class="condition-notification-new hidden">0</span>
                                                <span class="glyphicon glyphicon-bell condition-notification"></span>
                                            </div>
                                            <select id="matching-notification-account" style="height: 34px; width: 200px;">
                                                <option value="" style="" disabled="disabled" selected="selected">アカウント選択</option>
                                                <option th:each="account : ${accounts}" th:value="${account.id}" th:utext="${account.fullName}"></option>
                                            </select>
                                            <button id="matching-notification-sent" type="button" class="btn btn-primary" style="margin-bottom: 5px;">送信</button>
                                        </div>
                                    </div>
                                    <div class="builder-wrapper">
                                        <div id="matching-builder"></div>
                                        <div id="matching-builder-collapse-view" class="builder-collapse-view">
                                            <span>非表示</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <button id="saveMatchingBtn" type="button" class="btn btn-default btn-xs btn-block">条件に名前を付けて保存</button>
                                </div>
                                <div class="col-md-4">
                                    <button id="getMatchingBtn" type="button" class="btn btn-default btn-xs btn-block">保存済条件を読み込み</button>
                                </div>
                                <div class="form-group"></div>
                                <div class="col-xs-12">
                                    <span>マッチングワード</span>
                                    <textarea id="matchingWordsArea" style="width: 100%" rows="4"></textarea>
                                </div>
                                <div class="form-group"></div>
                            </div>
                            <div style="width: 100%; height: 50px;">
                                <div class="col-md-6" style="font-size: 13px; padding-top: 28px; position: relative;">
                                    <div class="duplicate-control-container">
                                        <label class="duplicate-control">
                                            <input id="enable-duplicate-handle" type="checkbox"/> 重複メールは最新のメールのみ抽出・マッチング
                                        </label>
                                        <label class="duplicate-control duplicate-control-option option-padding">重複の判定（&nbsp;</label>
                                        <label class="duplicate-control duplicate-control-option">
                                            <input id="duplicate-sender" type="checkbox"/> 送信者
                                        </label>
                                        <label class="duplicate-control duplicate-control-option option-padding">
                                            <input id="duplicate-subject" type="checkbox"/> 件名
                                        </label>
                                        <label class="duplicate-control duplicate-control-option">&nbsp;)</label>
                                    </div>
                                    <div class="domain-control-container">
                                        <label class="domain-control">
                                    		<input id="enable-same-domain-handle" type="checkbox"/>&nbsp;同一ドメインはマッチングしない&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    	</label>
                                    	<label class="domain-control">
                                    		<input id="check-domain-in-group" type="checkbox"/>&nbsp;取引グループとはマッチングしない
                                    	</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="msw-header-arrow-matching"></div>
                                    <button style="background-color: #ffe837; z-index: 1;margin-left: 90px; width: calc(100% - 90px); margin-top: 28px" id="submitFormBtn" type="button" class="btn btn-default btn-xs btn-block">マッチング(F5)</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="dataModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 40%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="dataModalTitle" class="modal-title">保存された名前を入力してください</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-1">
                            <input id="dataModalName" class="dataModalName form-control black-down-triangle black-down-triangle-center" type="text" name="dataModalName" list="keylist" placeholder=""/>
                            <datalist id="keylist">
                            </datalist>
                        </div>
                        <div class="col-sm-2">
                            <button th:disabled="true" type="button" id="dataRemoveItem" class="btn btn-danger">削除</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="dataModalCancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="button" id="dataModalOk" class="btn btn-primary">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="notificationModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 60%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="notificationModalTitle" class="modal-title">権限設定</h4>
                </div>
                <div class="modal-body">
                    <div id="modal-body-content" style="overflow-y: scroll; height: 450px;">
                    </div>
                </div>
                <div class="modal-footer" style=" text-align: center">
                    <span class="notification-modal-show-more hidden">Show more</span>
                    <button type="button" id="notificationModalClose" class="btn btn-primary pull-right">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="previewConditionModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="previewConditionModalTitle" class="modal-title">絞り込み条件</h4>
                </div>
                <div id="preview-builder" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="previewConditionModalClose" class="btn btn-primary">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/utils.js"></script>
    <script src="/custom/js/api.js"></script>
    <script src="/custom/js/pages/matching/settings.js"></script>
</th:block>
</body>
</html>