<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>送信履歴</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            全メールリスト
        </h1>
    </section>
    <section class="content matching-result">
        <div class="row matching-result-container" style="position: relative">
            <form id="matchingConditionSettingsForm" class="form-horizontal" action="javascript:void(0);">
                <div class="col-sm-12">
                    <div class="box-header with-border">
                        <h3 class="box-title">Inbox (全メールリスト)</h3>

                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <button id="btnFilter" type="button" class="btn btn-primary glyphicon glyphicon-search">&nbsp;Filter Email</button>
                            </div>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <div class="main-left">
                        <div class="table-container table-container-wrapper" style="height: 530px;">
                            <table id="inboxTable" class="table table-bordered table-hover tablesorter sticky-header-table">
                                <thead class="sticky-header">
                                    <tr>
                                        <th class="col-sm-1 ">To</th>
                                        <th class="col-sm-1">From</th>
                                        <th class="col-sm-5">Subject</th>
                                        <th class="col-sm-1 text-center">Attachment</th>
                                        <th class="col-sm-1 text-center">受信ルール合致</th>
                                        <th class="col-sm-1 text-center">Time</th>
                                        <th class="col-sm-1 text-center">マーク</th>
                                        <th class="col-sm-1 text-center"><input type="checkbox" id="selectall"/></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer no-padding">
                        <div class="mailbox-controls dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                        <span id="totalEmail"></span>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="paginationInboxDiv">
                                        <ul class="pagination" id="paginationInbox">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4>プレビュー
                    </h4>
                    <div class="main-right">
                        <div id="mailSubject" class="mail-subject"></div>
                        <div class="mail-body-container" style="height: 444px;">
                            <div id="mailBody" class="mail-body">

                            </div>
                        </div>
                        <div id="mailAttachment" class="mail-attachment"></div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div id="dataModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="dataModalTitle" class="modal-title">FilterCondition</h4>
                </div>
                <div id="inbox-builder" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="dataModalCancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="button" id="dataModalOk" class="btn btn-primary">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="sendMailModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px 15px;">
                    <button type="button" name="sendSuggestMailClose" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">返信</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label for="rdMailSender" class="control-label col-md-1 text-left">送信者:</label>
                            <!--<div class="col-md-5">-->
                            <!--<input id="rdMailSender" class="form-control" placeholder="送信者:" th:readonly="true"/>-->
                            <!--</div>-->
                            <div class="col-md-5">
                                <select style="padding-left: 12px;" id="rdMailSender" class="form-control">
                                </select>
                            </div>
                            <div id="rdMailReceiver-container">
                                <label for="rdMailReceiver" class="control-label col-md-1 text-left">受信者:</label>
                                <div class="col-md-5">
                                    <input id="rdMailReceiver" class="form-control" placeholder="user@example.com, user2@example.com"/>
                                </div>
                            </div>
                        </div>
                        <div id="rdMailCC-container" class="form-group row">
                            <label for="rdMailCC" class="control-label col-md-1 text-left">CC:</label>
                            <div class="col-md-11">
                                <input id="rdMailCC" class="tags form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="rdMailSubject" class="control-label col-md-1 text-left">件名:</label>
                            <div class="col-md-11">
                                <input id="rdMailSubject" class="form-control" placeholder="件名:"/>
                            </div>
                        </div>
                    </form>
                    <textarea id="rdMailBody"></textarea>
                    <div id="rdMailAttachment" class="mail-attachment"></div>
                    <div style="margin-top: 10px; padding: 10px;" class="dropzone" id="reply-dropzone"></div>
                </div>
                <div class="modal-footer" style="padding: 10px 15px;">
                    <button type="button" id="cancelSendSuggestMail" name="sendSuggestMailClose" class="btn btn-default" data-loading-text="終了中...">終了</button>
                    <button type="button" id="sendSuggestMail" class="btn btn-primary" data-loading-text="送信中...">送信</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/utils.js"></script>
    <script src="/custom/js/api.js"></script>
    <script src="/custom/js/pages/mailbox/inbox.js"></script>
</th:block>
</body>
</html>