<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>送信履歴</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            全メールリスト
        </h1>
    </section>
    <section class="content matching-result">
        <div class="row matching-result-container" style="position: relative">
            <form id="matchingConditionSettingsForm" class="form-horizontal" action="javascript:void(0);">
                <div class="col-sm-12">
                    <div class="box-header with-border" style="padding-bottom: 15px">
                        <h3 class="box-title">Inbox (全メールリスト)</h3>

                        <div class="box-tools pull-right">
                            <div>
                                <label>1ページに表示する最大件数: &nbsp;</label>
                                <select id="selectPageSize" style="width: 60px; height: 32px;">
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                </select>
                                <label style="margin-right: 10px">件</label>
                                <button id="btnFilter" type="button" class="btn btn-primary glyphicon glyphicon-search" style="padding-bottom: 6px; margin-bottom: 8px;">&nbsp;メール検索</button>
                            </div>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <div class="main-left" id="table-section">
                        <div class="table-container table-container-wrapper" style="height: 450px;">
                            <table id="inboxTable" class="table table-bordered table-hover tablesorter sticky-header-table">
                                <thead class="sticky-header">
                                    <tr style="background: white">
                                        <th class="col-sm-1 ">送信者</th>
                                        <th class="col-sm-1">宛先</th>
                                        <th class="col-sm-4">件名</th>
                                        <th class="col-sm-1 text-center">添付</th>
                                        <th class="col-sm-1 text-center">受信ルール合致</th>
                                        <th class="col-sm-1 text-center">受信時刻</th>
                                        <th class="col-sm-1 text-center">マーク</th>
                                        <th class="col-sm-1 text-center">返信数</th>
                                        <th class="col-sm-1 text-center"><input type="checkbox" id="cbReplyAllEmail"/></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer no-padding">
                        <div class="mailbox-controls dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                        <span id="totalEmail"></span>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="dataTables_paginate paging_simple_numbers pull-right" id="paginationInboxDiv" style="display: inline-block">
                                        <ul class="pagination" id="paginationInbox">
                                        </ul>
                                    </div>
                                    <div class="pull-right" style="display: inline-block; vertical-align: top; margin-top: 2px; margin-right: 5px;">
                                        <button id="btnSendMailInbox" style="height: 32px;">選択したメールへ返信</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="dragbar2" style="margin-top: 5px; background-color:black; height: 3px; cursor: row-resize; width: 100%;"></div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4>プレビュー
                    </h4>
                    <div class="main-right">
                        <div id="mailSubject" class="mail-subject"></div>
                        <div class="mail-body-container" style="height: 444px;">
                            <div id="mailBody" class="mail-body">

                            </div>
                        </div>
                        <div id="mailAttachment" class="mail-attachment"></div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div id="dataModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="dataModalTitle" class="modal-title">絞り込み条件</h4>
                </div>
                <div id="inbox-builder" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="dataModalCancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="button" id="dataModalOk" class="btn btn-primary">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="sendMailModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 80%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px 15px;">
                    <button type="button" name="sendSuggestMailClose" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">返信</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="control-label col-md-1 text-left">送信者:</label>
                            <div class="col-md-1 text-right">
                                <input type="radio" name="chooseUser" value="1" style="margin-top: 10px;"/>
                            </div>
                            <div class="col-md-5">
                                <select id="rdMailSender" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-1 text-left"></label>
                            <div class="col-md-1 text-right">
                                <input type="radio" name="chooseUser" value="2"/>
                            </div>
                            <div class="col-md-10">
                                <span>受信したメールアドレスから送信</span>
                            </div>
                        </div>
                    </form>
                    <textarea id="rdMailBodyInbox" class="tinymce"
                              placeholder="下記の様な書き出しの挨拶は自動作成されます。&#10;-----------------------------------------------------------------&#10;ABCシステム 山田様&#10;お世話になっております。XYZの田中です。&#10;-----------------------------------------------------------------&#10;ここでは以降に続く文章を記入してください。">
                    </textarea>
                    <div id="rdMailAttachment" class="mail-attachment"></div>
                    <div style="margin-top: 10px; padding: 10px;" class="dropzone" id="reply-dropzone"></div>
                </div>
                <div class="modal-footer" style="padding: 10px 15px;">
                    <button type="button" id="cancelSendSuggestMail" name="sendSuggestMailClose" class="btn btn-default" data-loading-text="終了中...">終了</button>
                    <button type="button" id="sendSuggestMail" class="btn btn-primary" data-loading-text="送信中...">送信</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/utils.js"></script>
    <script src="/custom/js/api.js"></script>
    <script src="/custom/js/pages/mailbox/inbox.js"></script>
</th:block>
</body>
</html>