<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>あいまい単語登録</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>あいまい単語登録</h1>
    </section>
    <section class="content ambious">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ambious-description">
                                    <p style="word-wrap: break-word">抽出やマッチングでの検索の際、以下の抽出となってしまいます。
                                    </p>
                                    <p style="word-wrap: break-word">【例①】「JAVA」で検索すると「JAVA」を含む単語「JAVASCRIPT」も抽出対象となってしまいます。<br/>
                                        →これを避けるため「JAVA」のあいまい単語「JAVASCRIPT」をここで除外単語として登録します。
                                    </p>
                                    <p style="word-wrap: break-word">【例②】「スマホ」で検索すると「スマートフォン」は「スマホ」という文字を含まないので別の単語として認識されます。<br/>
                                        →「スマホ」と「スマートフォン」が同ー単語とするため、ここで同ー単語として登録します。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ambious-form-container">
                                    <div class="col-xs-5 full-height">
                                        <div class="ambious-table-container">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th class="col-xs-11">単語</th>
                                                    <th class="col-xs-1 text-center">
                                                        <a title="新規登録" href="#" th:href="@{/receiveSettings/add}"><span class="glyphicon glyphicon-plus"></span></a>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            John
                                                            <div class="pull-right">
                                                                <a th:href="@{/fuzzyWord}"><i class="fa fa-edit"></i></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center"><a><i class="fa fa-remove"/></a></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            Mary
                                                            <div class="pull-right">
                                                                <a th:href="@{/fuzzyWord}"><i class="fa fa-edit"></i></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center"><a><i class="fa fa-remove"/></a></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            July
                                                            <div class="pull-right">
                                                                <a th:href="@{/fuzzyWord}"><i class="fa fa-edit"></i></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center"><a><i class="fa fa-remove"/></a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-xs-7 full-height">
                                        <div class="ambious-table-container">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th class="col-xs-2">同一/除外</th>
                                                    <th class="col-xs-9">類似単語</th>
                                                    <th class="col-xs-1 text-center">
                                                        <a title="新規登録" href="#" th:href="@{/receiveSettings/add}"><span class="glyphicon glyphicon-plus"></span></a>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="combo-box">
                                                        <select>
                                                            <option value="1" selected="selected">同一</option>
                                                            <option value="2">除外</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            Doe
                                                            <div class="pull-right">
                                                                <a th:href="@{/fuzzyWord}"><i class="fa fa-edit"></i></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center"><a><i class="fa fa-remove"/></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="combo-box">
                                                        <select>
                                                            <option value="1" selected="selected">同一</option>
                                                            <option value="2">除外</option>
                                                        </select>
                                                    </td>
                                                    <td>Moe</td>
                                                    <td class="text-center"><a><i class="fa fa-remove"/></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="combo-box">
                                                        <select>
                                                            <option value="1" selected="selected">同一</option>
                                                            <option value="2">除外</option>
                                                        </select>
                                                    </td>
                                                    <td>Dooley</td>
                                                    <td class="text-center"><a><i class="fa fa-remove"/></a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
        </div>
    </section>
</div>
</body>
</html>