<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>送信設定</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">送信設定</h3>
                    </div>
                    <div class="box-body">
                        <div style="padding: 13px 20px; width: 100%; height: 50px; border: 1px solid #b3b3b3;">
                            <input id="includeAttachment"
                                   type="checkbox"
                            />
                            <span>&nbsp;マッチング結果のメール送信で添付ファイルも含める。</span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">送信アカウントの選択</h3>
                    </div>
                    <div class="box-body">
                        <select id="sendMailAccountSelect" style="width: 100%">
                            <option value="" selected="selected" th:disabled="true">選んでください</option>
                            <option th:each="account : ${accounts}"
                                    th:value="${account.id}"
                                    th:utext="${account.account}"/>
                        </select>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="scripts">
    <script src="/custom/js/pages/sendMailSettings/form.js"></script>
</th:block>
</body>
</html>